{
  "info": {
    "title": "Sage Accounting API - Sales Transactions",
    "description": "Documentation of the Sage Business Cloud Accounting API.",
    "contact": {
      "name": "Sage Business Cloud Accounting API Team",
      "url": "mailto:sbc-accounting-api-developers@sage.com"
    },
    "version": "3.1"
  },
  "swagger": "2.0",
  "produces": [
    "application/json"
  ],
  "host": "api.accounting.sage.com",
  "basePath": "/v3.1",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "EU Sales Descriptions",
      "description": "This is a static endpoint, providing you with consistent eu_sales_description IDs used at the key eu_sales_description_id when manipulating (e.g. invoice-) line items."
    },
    {
      "name": "Sales Credit Notes",
      "description": "This endpoint allows the reading and writing access to customer credit notes that are available in the web frontend at the \"Sales\" menu item. <br><br> Related Guide: <a href=\"https://developer.sage.com/api/accounting/guides/invoicing\" target=\"_blank\">Key Concepts: Invoicing</a>"
    },
    {
      "name": "Sales Estimates",
      "description": "This endpoint allows the reading and writing access to sales estimates, available in the web frontend at the \"Sales\" menu item. <br><br> Related Guide: <a href=\"https://developer.sage.com/api/accounting/guides/invoicing\" target=\"_blank\">Key Concepts: Invoicing</a>"
    },
    {
      "name": "Sales Invoices",
      "description": "This endpoint allows the reading and writing access to outgoing invoices, available in the web frontend at the \"Sales\" menu item. <br><br> Related Guide: <a href=\"https://developer.sage.com/api/accounting/guides/invoicing\" target=\"_blank\">Key Concepts: Invoicing</a>"
    },
    {
      "name": "Sales Quick Entries",
      "description": "This endpoint allows the reading and writing access to quick entries that are available in the web frontend at the \"Sales\" menu item. <br><br> Related Guide: <a href=\"https://developer.sage.com/api/accounting/guides/invoicing\" target=\"_blank\">Key Concepts: Invoicing</a>"
    },
    {
      "name": "Sales Quotes",
      "description": "This endpoint allows the reading and writing access to outgoing quotes, available in the web frontend at the \"Sales\" menu item. <br><br> Related Guide: <a href=\"https://developer.sage.com/api/accounting/guides/invoicing\" target=\"_blank\">Key Concepts: Invoicing</a>"
    },
    {
      "name": "Hosted Artefact Payment Settings",
      "description": "For sales invoices it is possible to generate a link that can be used to view this invoice online. By default, this invoice view comes with a payment button, allowing the viewer to use Stripe to pay the invoice. With this endpoint you can disable this button thus payment. To do this, specify the ID of the invoice and \"disable_payment: true\". It is not possible to specify \"disable_payment: false\"."
    }
  ],
  "paths": {
    "/eu_sales_descriptions": {
      "get": {
        "summary": "Returns all EU Sales Descriptions",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n* Accounting Start: 🇨🇦, 🇬🇧, 🇮🇪",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "items_per_page",
            "description": "Returns the given number of Ec Sales Descriptions per request.",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 1,
            "maximum": 200,
            "required": false,
            "example": 20
          },
          {
            "in": "query",
            "name": "page",
            "description": "Go to specific page of Ec Sales Descriptions",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "attributes",
            "description": "Specify the attributes that you want to expose for the Ec Sales Descriptions (expose all attributes with 'all'). These are in addition to the base attributes (name, path)",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all EU Sales Descriptions",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EuSalesDescription"
              }
            }
          }
        },
        "tags": [
          "EU Sales Descriptions"
        ],
        "operationId": "getEuSalesDescriptions"
      },
      "x-sage-pathtitle": "EU Sales Description collection",
      "x-sage-changelog": [

      ]
    },
    "/eu_sales_descriptions/{key}": {
      "get": {
        "summary": "Returns a EU Sales Description",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n* Accounting Start: 🇨🇦, 🇬🇧, 🇮🇪",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The EU Sales Description Key.",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "attributes",
            "description": "Specify the attributes that you want to expose for the Ec Sales Description (expose all attributes with 'all'). These are in addition to the base attributes (name, path)",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a EU Sales Description",
            "schema": {
              "$ref": "#/definitions/EuSalesDescription"
            }
          }
        },
        "tags": [
          "EU Sales Descriptions"
        ],
        "operationId": "getEuSalesDescriptionsKey"
      },
      "x-sage-pathtitle": "single EU Sales Description resource",
      "x-sage-changelog": [

      ]
    },
    "/sales_credit_notes": {
      "get": {
        "summary": "Returns all Sales Credit Notes",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Start: 🇨🇦, 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access, Read Only, Restricted Access",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "show_payments_allocations",
            "description": "Use this to show the artefact's payments and allocations",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "description": "Use this to filter by the credit note reference or contact name.",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "contact_id",
            "description": "Use this to filter by [contact id](../contacts/#tag/Contacts)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "status_id",
            "description": "Use this to filter by [status id](../invoicing-general/#tag/Artefact-Statuses)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "from_date",
            "description": "Use this to filter by Sales Credit Notes dates",
            "type": "string",
            "format": "date-time",
            "required": false
          },
          {
            "in": "query",
            "name": "to_date",
            "description": "Use this to filter by Sales Credit Notes dates",
            "type": "string",
            "format": "date-time",
            "required": false
          },
          {
            "in": "query",
            "name": "updated_or_created_since",
            "description": "Use this to limit the response to Sales Credit Notes changed since a given date (format: YYYY-MM-DDT(+|-)hh:mm) or date-time (format: YYYY-MM-DDThh:mm:ss(+|-)hh:mm). Inclusive of the passed timestamp.",
            "type": "string",
            "format": "date-time",
            "required": false,
            "example": "2015-10-27T16:24:52Z"
          },
          {
            "in": "query",
            "name": "deleted_since",
            "description": "Use this to limit the response to Sales Credit Notes deleted since a given date (format: YYYY-MM-DDT(+|-)hh:mm) or date-time (format: YYYY-MM-DDThh:mm:ss(+|-)hh:mm). Not inclusive of the passed timestamp.",
            "type": "string",
            "format": "date-time",
            "required": false,
            "example": "2015-10-27T16:24:52Z"
          },
          {
            "in": "query",
            "name": "has_attachments",
            "description": "Use this to filter Sales Credit Notes by whether they have attachments or not",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "items_per_page",
            "description": "Returns the given number of Sales Credit Notes per request.",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 1,
            "maximum": 200,
            "required": false,
            "example": 20
          },
          {
            "in": "query",
            "name": "page",
            "description": "Go to specific page of Sales Credit Notes",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "attributes",
            "description": "Specify the attributes that you want to expose for the Sales Credit Notes (expose all attributes with 'all'). These are in addition to the base attributes (name, path)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Order by a given attribute (required) and direction (optional; `asc` or `desc`; defaults to `asc`).\nAvailable attributes are:\ncreated_at, updated_at, date\n\nExample: `sort=created_at` or `sort=created_at:desc`",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all Sales Credit Notes",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SalesCreditNote"
              }
            }
          }
        },
        "tags": [
          "Sales Credit Notes"
        ],
        "operationId": "getSalesCreditNotes"
      },
      "x-sage-pathtitle": "Sales Credit Note collection",
      "x-sage-changelog": [

      ],
      "post": {
        "summary": "Creates a Sales Credit Note",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Start: 🇨🇦, 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access, Restricted Access",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SalesCreditNotes",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postSalesCreditNotes"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Creates a Sales Credit Note",
            "schema": {
              "$ref": "#/definitions/SalesCreditNote"
            }
          }
        },
        "tags": [
          "Sales Credit Notes"
        ],
        "operationId": "postSalesCreditNotes"
      }
    },
    "/sales_credit_notes/{key}": {
      "get": {
        "summary": "Returns a Sales Credit Note",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Start: 🇨🇦, 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access, Read Only, Restricted Access",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The Sales Credit Note Key.",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "show_payments_allocations",
            "description": "Use this to show the artefact's payments and allocations",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "nested_attributes",
            "description": "Specify the attributes that you want to expose for nested entities of the Sales Credit Note (expose all nested attributes with 'all'). These are in addition to the base attributes (name, path)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "mark_as_sent",
            "description": "Use this to mark/not mark the artefact as sent. Defaulted to 'true'.",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "show_analysis_types",
            "description": "Use this to show the line item analysis types",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "attributes",
            "description": "Specify the attributes that you want to expose for the Sales Credit Note (expose all attributes with 'all'). These are in addition to the base attributes (name, path)",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Sales Credit Note",
            "schema": {
              "$ref": "#/definitions/SalesCreditNote"
            }
          }
        },
        "tags": [
          "Sales Credit Notes"
        ],
        "operationId": "getSalesCreditNotesKey"
      },
      "x-sage-pathtitle": "single Sales Credit Note resource",
      "x-sage-changelog": [

      ],
      "put": {
        "summary": "Updates a Sales Credit Note",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access, Restricted Access",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The Sales Credit Note Key.",
            "type": "string",
            "required": true
          },
          {
            "name": "SalesCreditNotes",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putSalesCreditNotes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates a Sales Credit Note",
            "schema": {
              "$ref": "#/definitions/SalesCreditNote"
            }
          }
        },
        "tags": [
          "Sales Credit Notes"
        ],
        "operationId": "putSalesCreditNotesKey"
      },
      "delete": {
        "summary": "Voids a Sales Credit Note",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Start: 🇨🇦, 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The Sales Credit Note Key.",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "void_reason",
            "description": "The reason the Sales Credit Note is being voided (required unless status is DRAFT).",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Voids a Sales Credit Note",
            "schema": {
              "$ref": "#/definitions/SalesCreditNote"
            }
          }
        },
        "tags": [
          "Sales Credit Notes"
        ],
        "operationId": "deleteSalesCreditNotesKey"
      }
    },
    "/sales_credit_notes/{key}/release": {
      "post": {
        "summary": "Releases a Sales Credit Note",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access, Restricted Access",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The Sales Credit Note Key.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Releases a Sales Credit Note",
            "schema": {
              "$ref": "#/definitions/SalesCreditNote"
            }
          }
        },
        "tags": [
          "Sales Credit Notes"
        ],
        "operationId": "postSalesCreditNotesKeyRelease"
      }
    },
    "/sales_estimates": {
      "get": {
        "summary": "Returns all Sales Estimates",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Start: 🇨🇦, 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access, Read Only, Restricted Access",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "contact_id",
            "description": "Use this to filter by [contact id](../contacts/#tag/Contacts)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "description": "Use this to filter by the estimate reference or contact name.",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "status_id",
            "description": "Use this to filter by [status id](../invoicing-general/#tag/Artefact-Statuses)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "from_date",
            "description": "Use this to filter by Sales Estimates dates",
            "type": "string",
            "format": "date-time",
            "required": false
          },
          {
            "in": "query",
            "name": "to_date",
            "description": "Use this to filter by Sales Estimates dates",
            "type": "string",
            "format": "date-time",
            "required": false
          },
          {
            "in": "query",
            "name": "updated_or_created_since",
            "description": "Use this to limit the response to Sales Estimates changed since a given date (format: YYYY-MM-DDT(+|-)hh:mm) or date-time (format: YYYY-MM-DDThh:mm:ss(+|-)hh:mm). Inclusive of the passed timestamp.",
            "type": "string",
            "format": "date-time",
            "required": false,
            "example": "2015-10-27T16:24:52Z"
          },
          {
            "in": "query",
            "name": "has_attachments",
            "description": "Use this to filter Sales Estimates by whether they have attachments or not",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "items_per_page",
            "description": "Returns the given number of Sales Estimates per request.",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 1,
            "maximum": 200,
            "required": false,
            "example": 20
          },
          {
            "in": "query",
            "name": "page",
            "description": "Go to specific page of Sales Estimates",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "attributes",
            "description": "Specify the attributes that you want to expose for the Sales Estimates (expose all attributes with 'all'). These are in addition to the base attributes (name, path)",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all Sales Estimates",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SalesEstimate"
              }
            }
          }
        },
        "tags": [
          "Sales Estimates"
        ],
        "operationId": "getSalesEstimates"
      },
      "x-sage-pathtitle": "Sales Estimate collection",
      "x-sage-changelog": [

      ],
      "post": {
        "summary": "Creates a Sales Estimate",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access, Restricted Access",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SalesEstimates",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postSalesEstimates"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Creates a Sales Estimate",
            "schema": {
              "$ref": "#/definitions/SalesEstimate"
            }
          }
        },
        "tags": [
          "Sales Estimates"
        ],
        "operationId": "postSalesEstimates"
      }
    },
    "/sales_estimates/{key}": {
      "get": {
        "summary": "Returns a Sales Estimate",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Start: 🇨🇦, 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access, Read Only, Restricted Access",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The Sales Estimate Key.",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "nested_attributes",
            "description": "Specify the attributes that you want to expose for nested entities of the Sales Estimate (expose all nested attributes with 'all'). These are in addition to the base attributes (name, path)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "attributes",
            "description": "Specify the attributes that you want to expose for the Sales Estimate (expose all attributes with 'all'). These are in addition to the base attributes (name, path)",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Sales Estimate",
            "schema": {
              "$ref": "#/definitions/SalesEstimate"
            }
          }
        },
        "tags": [
          "Sales Estimates"
        ],
        "operationId": "getSalesEstimatesKey"
      },
      "x-sage-pathtitle": "single Sales Estimate resource",
      "x-sage-changelog": [

      ],
      "put": {
        "summary": "Updates a Sales Estimate",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access, Restricted Access",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The Sales Estimate Key.",
            "type": "string",
            "required": true
          },
          {
            "name": "SalesEstimates",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putSalesEstimates"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates a Sales Estimate",
            "schema": {
              "$ref": "#/definitions/SalesEstimate"
            }
          }
        },
        "tags": [
          "Sales Estimates"
        ],
        "operationId": "putSalesEstimatesKey"
      },
      "delete": {
        "summary": "Deletes a Sales Estimate",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The Sales Estimate Key.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Deletes a Sales Estimate"
          }
        },
        "tags": [
          "Sales Estimates"
        ],
        "operationId": "deleteSalesEstimatesKey"
      }
    },
    "/sales_invoices": {
      "get": {
        "summary": "Returns all Sales Invoices",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n* Accounting Start: 🇨🇦, 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access, Read Only, Restricted Access",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "show_payments_allocations",
            "description": "Use this to show the artefact's payments and allocations",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "description": "Use this to filter by the invoice reference or contact name.",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "contact_id",
            "description": "Use this to filter by [contact](../contacts/#tag/Contacts)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "status_id",
            "description": "Use this to filter by [status id](../invoicing-general/#tag/Artefact-Statuses)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "from_date",
            "description": "Use this to filter by Sales Invoices dates",
            "type": "string",
            "format": "date-time",
            "required": false
          },
          {
            "in": "query",
            "name": "to_date",
            "description": "Use this to filter by Sales Invoices dates",
            "type": "string",
            "format": "date-time",
            "required": false
          },
          {
            "in": "query",
            "name": "updated_or_created_since",
            "description": "Use this to limit the response to Sales Invoices changed since a given date (format: YYYY-MM-DDT(+|-)hh:mm) or date-time (format: YYYY-MM-DDThh:mm:ss(+|-)hh:mm). Inclusive of the passed timestamp.",
            "type": "string",
            "format": "date-time",
            "required": false,
            "example": "2015-10-27T16:24:52Z"
          },
          {
            "in": "query",
            "name": "deleted_since",
            "description": "Use this to limit the response to Sales Invoices deleted since a given date (format: YYYY-MM-DDT(+|-)hh:mm) or date-time (format: YYYY-MM-DDThh:mm:ss(+|-)hh:mm). Not inclusive of the passed timestamp.",
            "type": "string",
            "format": "date-time",
            "required": false,
            "example": "2015-10-27T16:24:52Z"
          },
          {
            "in": "query",
            "name": "has_attachments",
            "description": "Use this to filter Sales Invoices by whether they have attachments or not",
            "type": "boolean",
            "required": false
          },
		  {
            "in": "query",
            "name": "generate_filter_url",
            "description": "Use this to generate an api_filter_url to view a collection of filtered items in the application",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "copilot_vat_back_url",
            "description": "Return url to copilot vat page",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "items_per_page",
            "description": "Returns the given number of Sales Invoices per request.",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 1,
            "maximum": 200,
            "required": false,
            "example": 20
          },
          {
            "in": "query",
            "name": "page",
            "description": "Go to specific page of Sales Invoices",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "attributes",
            "description": "Specify the attributes that you want to expose for the Sales Invoices (expose all attributes with 'all'). These are in addition to the base attributes (name, path)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Order by a given attribute (required) and direction (optional; `asc` or `desc`; defaults to `asc`).\nAvailable attributes are:\ncreated_at, updated_at, date, due_date\n\nExample: `sort=created_at` or `sort=created_at:desc`",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all Sales Invoices",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SalesInvoice"
              }
            }
          }
        },
        "tags": [
          "Sales Invoices"
        ],
        "operationId": "getSalesInvoices"
      },
      "x-sage-pathtitle": "Sales Invoice collection",
      "x-sage-changelog": [

      ],
      "post": {
        "summary": "Creates a Sales Invoice",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n* Accounting Start: 🇨🇦, 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access, Restricted Access",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SalesInvoices",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postSalesInvoices"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Creates a Sales Invoice",
            "schema": {
              "$ref": "#/definitions/SalesInvoice"
            }
          }
        },
        "tags": [
          "Sales Invoices"
        ],
        "operationId": "postSalesInvoices"
      }
    },
    "/sales_invoices/{key}": {
      "get": {
        "summary": "Returns a Sales Invoice",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n* Accounting Start: 🇨🇦, 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access, Read Only, Restricted Access",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The Sales Invoice Key.",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "show_payments_allocations",
            "description": "Use this to show the artefact's payments and allocations",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "show_corrections",
            "description": "Use this to show the artefact's associated corrections",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "nested_attributes",
            "description": "Specify the attributes that you want to expose for nested entities of the Sales Invoice (expose all nested attributes with 'all'). These are in addition to the base attributes (name, path)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "mark_as_sent",
            "description": "Use this to mark/not mark the artefact as sent. Defaulted to 'true'.",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "show_recurring_invoice",
            "description": "Use this to show the artefact's associated recurring invoice template if present",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "show_analysis_types",
            "description": "Use this to show the line item analysis types",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "attributes",
            "description": "Specify the attributes that you want to expose for the Sales Invoice (expose all attributes with 'all'). These are in addition to the base attributes (name, path)",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Sales Invoice",
            "schema": {
              "$ref": "#/definitions/SalesInvoice"
            }
          }
        },
        "tags": [
          "Sales Invoices"
        ],
        "operationId": "getSalesInvoicesKey"
      },
      "x-sage-pathtitle": "single Sales Invoice resource",
      "x-sage-changelog": [

      ],
      "put": {
        "summary": "Updates a Sales Invoice",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n* Accounting Start: 🇨🇦, 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access, Restricted Access",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The Sales Invoice Key.",
            "type": "string",
            "required": true
          },
          {
            "name": "SalesInvoices",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putSalesInvoices"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates a Sales Invoice",
            "schema": {
              "$ref": "#/definitions/SalesInvoice"
            }
          }
        },
        "tags": [
          "Sales Invoices"
        ],
        "operationId": "putSalesInvoicesKey"
      },
      "delete": {
        "summary": "Voids a Sales Invoice",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n* Accounting Start: 🇨🇦, 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The Sales Invoice Key.",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "void_reason",
            "description": "The reason the Sales Invoice is being voided (required unless status is DRAFT).",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Voids a Sales Invoice",
            "schema": {
              "$ref": "#/definitions/SalesInvoice"
            }
          }
        },
        "tags": [
          "Sales Invoices"
        ],
        "operationId": "deleteSalesInvoicesKey"
      }
    },
    "/sales_invoices/{key}/release": {
      "post": {
        "summary": "Releases a Sales Invoice",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n* Accounting Start: 🇨🇦, 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access, Restricted Access",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The Sales Invoice Key.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Releases a Sales Invoice",
            "schema": {
              "$ref": "#/definitions/SalesInvoice"
            }
          }
        },
        "tags": [
          "Sales Invoices"
        ],
        "operationId": "postSalesInvoicesKeyRelease"
      }
    },
    "/sales_quick_entries": {
      "get": {
        "summary": "Returns all Sales Quick Entries",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n* Accounting Start: 🇨🇦, 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access, Read Only, Restricted Access",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "contact_id",
            "description": "Use this to filter by [contact](../contacts/#tag/Contacts)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "description": "Use this to filter by the quick entry reference or contact name.",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "status_id",
            "description": "Use this to filter by [status id](../invoicing-general/#tag/Artefact-Statuses)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "from_date",
            "description": "Use this to filter by Sales Batch Entries dates",
            "type": "string",
            "format": "date-time",
            "required": false
          },
          {
            "in": "query",
            "name": "to_date",
            "description": "Use this to filter by Sales Batch Entries dates",
            "type": "string",
            "format": "date-time",
            "required": false
          },
          {
            "in": "query",
            "name": "updated_or_created_since",
            "description": "Use this to limit the response to Sales Batch Entries changed since a given date (format: YYYY-MM-DDT(+|-)hh:mm) or date-time (format: YYYY-MM-DDThh:mm:ss(+|-)hh:mm). Inclusive of the passed timestamp.",
            "type": "string",
            "format": "date-time",
            "required": false,
            "example": "2015-10-27T16:24:52Z"
          },
          {
            "in": "query",
            "name": "deleted_since",
            "description": "Use this to limit the response to Sales Batch Entries deleted since a given date (format: YYYY-MM-DDT(+|-)hh:mm) or date-time (format: YYYY-MM-DDThh:mm:ss(+|-)hh:mm). Not inclusive of the passed timestamp.",
            "type": "string",
            "format": "date-time",
            "required": false,
            "example": "2015-10-27T16:24:52Z"
          },
          {
            "in": "query",
            "name": "show_payments_allocations",
            "description": "Use this to show the artefact's payments and allocations",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "has_attachments",
            "description": "Use this to filter Sales Batch Entries by whether they have attachments or not",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "items_per_page",
            "description": "Returns the given number of Sales Batch Entries per request.",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 1,
            "maximum": 200,
            "required": false,
            "example": 20
          },
          {
            "in": "query",
            "name": "page",
            "description": "Go to specific page of Sales Batch Entries",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "attributes",
            "description": "Specify the attributes that you want to expose for the Sales Batch Entries (expose all attributes with 'all'). These are in addition to the base attributes (name, path)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Order by a given attribute (required) and direction (optional; `asc` or `desc`; defaults to `asc`).\nAvailable attributes are:\ncreated_at, updated_at, date\n\nExample: `sort=created_at` or `sort=created_at:desc`",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all Sales Quick Entries",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/QuickEntry"
              }
            }
          }
        },
        "tags": [
          "Sales Quick Entries"
        ],
        "operationId": "getSalesQuickEntries"
      },
      "x-sage-pathtitle": "Sales Quick Entry collection",
      "x-sage-changelog": [

      ],
      "post": {
        "summary": "Creates a Sales Quick Entry",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access, Restricted Access",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SalesQuickEntries",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postSalesQuickEntries"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Creates a Sales Quick Entry",
            "schema": {
              "$ref": "#/definitions/QuickEntry"
            }
          }
        },
        "tags": [
          "Sales Quick Entries"
        ],
        "operationId": "postSalesQuickEntries"
      }
    },
    "/sales_quick_entries/{key}": {
      "get": {
        "summary": "Returns a Sales Quick Entry",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n* Accounting Start: 🇨🇦, 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access, Read Only, Restricted Access",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The Sales Quick Entry Key.",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "show_payments_allocations",
            "description": "Use this to show the artefact's payments and allocations",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "nested_attributes",
            "description": "Specify the attributes that you want to expose for nested entities of the Sales Batch Entry (expose all nested attributes with 'all'). These are in addition to the base attributes (name, path)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "show_analysis_types",
            "description": "Use this to show the line item analysis types",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "attributes",
            "description": "Specify the attributes that you want to expose for the Sales Batch Entry (expose all attributes with 'all'). These are in addition to the base attributes (name, path)",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Sales Quick Entry",
            "schema": {
              "$ref": "#/definitions/QuickEntry"
            }
          }
        },
        "tags": [
          "Sales Quick Entries"
        ],
        "operationId": "getSalesQuickEntriesKey"
      },
      "x-sage-pathtitle": "single Sales Quick Entry resource",
      "x-sage-changelog": [

      ],
      "put": {
        "summary": "Updates a Sales Quick Entry",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access, Restricted Access",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The Sales Quick Entry Key.",
            "type": "string",
            "required": true
          },
          {
            "name": "SalesQuickEntries",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putSalesQuickEntries"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates a Sales Quick Entry",
            "schema": {
              "$ref": "#/definitions/QuickEntry"
            }
          }
        },
        "tags": [
          "Sales Quick Entries"
        ],
        "operationId": "putSalesQuickEntriesKey"
      },
      "delete": {
        "summary": "Deletes a Sales Quick Entry",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The Sales Quick Entry Key.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Deletes a Sales Quick Entry"
          }
        },
        "tags": [
          "Sales Quick Entries"
        ],
        "operationId": "deleteSalesQuickEntriesKey"
      }
    },
    "/sales_quotes": {
      "get": {
        "summary": "Returns all Sales Quotes",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n* Accounting Start: 🇨🇦, 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access, Read Only, Restricted Access",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "contact_id",
            "description": "Use this to filter by [contact](../contacts/#tag/Contacts)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "description": "Use this to filter by the quote reference or contact name.",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "status_id",
            "description": "Use this to filter by [status id](../invoicing-general/#tag/Artefact-Statuses)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "from_date",
            "description": "Use this to filter by Sales Quotes dates",
            "type": "string",
            "format": "date-time",
            "required": false
          },
          {
            "in": "query",
            "name": "to_date",
            "description": "Use this to filter by Sales Quotes dates",
            "type": "string",
            "format": "date-time",
            "required": false
          },
          {
            "in": "query",
            "name": "updated_or_created_since",
            "description": "Use this to limit the response to Sales Quotes changed since a given date (format: YYYY-MM-DDT(+|-)hh:mm) or date-time (format: YYYY-MM-DDThh:mm:ss(+|-)hh:mm). Inclusive of the passed timestamp.",
            "type": "string",
            "format": "date-time",
            "required": false,
            "example": "2015-10-27T16:24:52Z"
          },
          {
            "in": "query",
            "name": "has_attachments",
            "description": "Use this to filter Sales Quotes by whether they have attachments or not",
            "type": "boolean",
            "required": false
          },
		  {
            "in": "query",
            "name": "generate_filter_url",
            "description": "Use this to generate an api_filter_url to view a collection of filtered items in the application",
            "type": "boolean",
            "required": false
          },
		  {
            "in": "query",
            "name": "copilot_vat_back_url",
            "description": "Return url to copilot vat page",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "items_per_page",
            "description": "Returns the given number of Sales Quotes per request.",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 1,
            "maximum": 200,
            "required": false,
            "example": 20
          },
          {
            "in": "query",
            "name": "page",
            "description": "Go to specific page of Sales Quotes",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "attributes",
            "description": "Specify the attributes that you want to expose for the Sales Quotes (expose all attributes with 'all'). These are in addition to the base attributes (name, path)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Order by a given attribute (required) and direction (optional; `asc` or `desc`; defaults to `asc`).\nAvailable attributes are:\ncreated_at, updated_at, date, expiry_date\n\nExample: `sort=created_at` or `sort=created_at:desc`",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all Sales Quotes",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SalesQuote"
              }
            }
          }
        },
        "tags": [
          "Sales Quotes"
        ],
        "operationId": "getSalesQuotes"
      },
      "x-sage-pathtitle": "Sales Quote collection",
      "x-sage-changelog": [

      ],
      "post": {
        "summary": "Creates a Sales Quote",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access, Restricted Access",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SalesQuotes",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postSalesQuotes"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Creates a Sales Quote",
            "schema": {
              "$ref": "#/definitions/SalesQuote"
            }
          }
        },
        "tags": [
          "Sales Quotes"
        ],
        "operationId": "postSalesQuotes"
      }
    },
    "/sales_quotes/{key}": {
      "get": {
        "summary": "Returns a Sales Quote",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n* Accounting Start: 🇨🇦, 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access, Read Only, Restricted Access",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The Sales Quote Key.",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "nested_attributes",
            "description": "Specify the attributes that you want to expose for nested entities of the Sales Quote (expose all nested attributes with 'all'). These are in addition to the base attributes (name, path)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "attributes",
            "description": "Specify the attributes that you want to expose for the Sales Quote (expose all attributes with 'all'). These are in addition to the base attributes (name, path)",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Sales Quote",
            "schema": {
              "$ref": "#/definitions/SalesQuote"
            }
          }
        },
        "tags": [
          "Sales Quotes"
        ],
        "operationId": "getSalesQuotesKey"
      },
      "x-sage-pathtitle": "single Sales Quote resource",
      "x-sage-changelog": [

      ],
      "put": {
        "summary": "Updates a Sales Quote",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access, Restricted Access",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The Sales Quote Key.",
            "type": "string",
            "required": true
          },
          {
            "name": "SalesQuotes",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putSalesQuotes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates a Sales Quote",
            "schema": {
              "$ref": "#/definitions/SalesQuote"
            }
          }
        },
        "tags": [
          "Sales Quotes"
        ],
        "operationId": "putSalesQuotesKey"
      },
      "delete": {
        "summary": "Deletes a Sales Quote",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The Sales Quote Key.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Deletes a Sales Quote"
          }
        },
        "tags": [
          "Sales Quotes"
        ],
        "operationId": "deleteSalesQuotesKey"
      }
    },
    "/hosted_artefact_payment_settings": {
      "get": {
        "summary": "Returns all Hosted Artefact Payment Settings",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n* Accounting Start: 🇨🇦, 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access, Read Only, Restricted Access",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "object_guid",
            "description": "Use this to filter out hosted artefact payment settings by the guid of the object it is associated to.",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "items_per_page",
            "description": "Returns the given number of Hosted Artefact Payment Settings per request.",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 1,
            "maximum": 200,
            "required": false,
            "example": 20
          },
          {
            "in": "query",
            "name": "page",
            "description": "Go to specific page of Hosted Artefact Payment Settings",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "attributes",
            "description": "Specify the attributes that you want to expose for the Hosted Artefact Payment Settings (expose all attributes with 'all'). These are in addition to the base attributes (name, path)",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all Hosted Artefact Payment Settings",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/HostedArtefactPaymentSetting"
              }
            }
          }
        },
        "tags": [
          "Hosted Artefact Payment Settings"
        ],
        "operationId": "getHostedArtefactPaymentSettings"
      },
      "x-sage-pathtitle": "Hosted Artefact Payment Setting collection",
      "x-sage-changelog": [

      ],
      "post": {
        "summary": "Creates a Hosted Artefact Payment Setting",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n* Accounting Start: 🇨🇦, 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access, Restricted Access",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "HostedArtefactPaymentSettings",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postHostedArtefactPaymentSettings"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Creates a Hosted Artefact Payment Setting",
            "schema": {
              "$ref": "#/definitions/HostedArtefactPaymentSetting"
            }
          }
        },
        "tags": [
          "Hosted Artefact Payment Settings"
        ],
        "operationId": "postHostedArtefactPaymentSettings"
      }
    },
    "/hosted_artefact_payment_settings/{key}": {
      "get": {
        "summary": "Returns a Hosted Artefact Payment Setting",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n* Accounting Start: 🇨🇦, 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access, Read Only, Restricted Access",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The Hosted Artefact Payment Setting Key.",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "attributes",
            "description": "Specify the attributes that you want to expose for the Hosted Artefact Payment Setting (expose all attributes with 'all'). These are in addition to the base attributes (name, path)",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Hosted Artefact Payment Setting",
            "schema": {
              "$ref": "#/definitions/HostedArtefactPaymentSetting"
            }
          }
        },
        "tags": [
          "Hosted Artefact Payment Settings"
        ],
        "operationId": "getHostedArtefactPaymentSettingsKey"
      },
      "x-sage-pathtitle": "single Hosted Artefact Payment Setting resource",
      "x-sage-changelog": [

      ],
      "delete": {
        "summary": "Deletes a Hosted Artefact Payment Setting",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n* Accounting Start: 🇨🇦, 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The Hosted Artefact Payment Setting Key.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Deletes a Hosted Artefact Payment Setting"
          }
        },
        "tags": [
          "Hosted Artefact Payment Settings"
        ],
        "operationId": "deleteHostedArtefactPaymentSettingsKey"
      }
    }
  },
  "definitions": {
    "SalesCorrectiveInvoice": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier for the item"
        },
        "displayed_as": {
          "type": "string",
          "description": "The name of the resource"
        },
        "$path": {
          "type": "string",
          "description": "The API path for the resource"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "The datetime when the item was created"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "description": "The datetime when the item was last updated"
        },
        "links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Link"
          },
          "description": "Links for the resource"
        },
        "editable": {
          "type": "boolean",
          "description": "Indicates whether artefact can be edited"
        },
        "vat_reverse_charge": {
          "type": "boolean",
          "description": "Indicates whether Domestic Reverser Charge is applied to the artefact. Only used for a UK business."
        },
        "tax_calculation_method": {
          "type": "string",
          "description": "The tax calculation method, if applicable, for this sales invoice, returns invoice, cash or retailer."
        },
        "destination_consignment": {
          "type": "boolean",
          "description": "Indicates whether consignment checkbox for destination VAT is checked on the artefact. Only used for an UK business, where destination VAT was enabled in the settings."
        },
        "destination_vat_rates_in_use": {
          "type": "boolean",
          "description": "Indicates whether destination vat rates are in use"
        },
        "transaction": {
          "$ref": "#/definitions/Transaction",
          "description": "The transaction record for the sales corrective invoice"
        },
        "transaction_type": {
          "$ref": "#/definitions/Base",
          "description": "The transaction type of the item"
        },
        "contact": {
          "$ref": "#/definitions/Contact",
          "description": "The contact the sales corrective invoice relates to"
        },
        "deleted_at": {
          "type": "string",
          "format": "date-time",
          "description": "The datetime when the item was deleted"
        },
        "invoice_number_prefix": {
          "type": "string",
          "maxLength": 6,
          "description": "The invoice number prefix"
        },
        "invoice_number": {
          "type": "string",
          "description": "The generated invoice number"
        },
        "contact_name": {
          "type": "string",
          "maxLength": 255,
          "description": "The name of the contact when the invoice was created"
        },
        "contact_reference": {
          "type": "string",
          "maxLength": 255,
          "description": "The reference of the contact when the invoice was created"
        },
        "date": {
          "type": "string",
          "format": "date",
          "description": "The date of the invoice"
        },
        "due_date": {
          "type": "string",
          "format": "date",
          "description": "The due date of the invoice"
        },
        "reference": {
          "type": "string",
          "maxLength": 25,
          "description": "The reference for the invoice"
        },
        "main_address_free_form": {
          "type": "string",
          "maxLength": 500,
          "description": "The free-form main address of the invoice\nNote: An upper length limit of 500 characters is imposed conditionally and may not apply in every request. A hard upper limit of 65535 characters is imposed by the storage layer, though."
        },
        "main_address": {
          "$ref": "#/definitions/SalesArtefactAddress",
          "description": "The main address of the invoice"
        },
        "delivery_address_free_form": {
          "type": "string",
          "maxLength": 500,
          "description": "The free-form delivery address of the invoice\nNote: An upper length limit of 500 characters is imposed conditionally and may not apply in every request. A hard upper limit of 65535 characters is imposed by the storage layer, though."
        },
        "delivery_address": {
          "$ref": "#/definitions/SalesArtefactAddress",
          "description": "The delivery address of the invoice"
        },
        "notes": {
          "type": "string",
          "maxLength": 2000,
          "description": "Invoice notes"
        },
        "terms_and_conditions": {
          "type": "string",
          "maxLength": 2000,
          "description": "Invoice terms and conditions"
        },
        "shipping_net_amount": {
          "type": "number",
          "format": "double",
          "description": "The net shipping amount"
        },
        "shipping_tax_rate": {
          "$ref": "#/definitions/Base",
          "description": "The shipping tax rate"
        },
        "shipping_tax_amount": {
          "type": "number",
          "format": "double",
          "description": "The tax shipping amount. NOTE: This is not required for POST/PUT requests as the shipping tax is calculated based on the shipping_net_amount and the shipping_tax_rate."
        },
        "shipping_tax_breakdown": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaxBreakdown"
          },
          "description": "The shipping tax breakdown for the invoice"
        },
        "shipping_total_amount": {
          "type": "number",
          "format": "double",
          "description": "The total shipping amount"
        },
        "total_quantity": {
          "type": "number",
          "format": "double",
          "description": "The total quantity of the invoice"
        },
        "net_amount": {
          "type": "number",
          "format": "double",
          "description": "The net amount of the invoice"
        },
        "tax_amount": {
          "type": "number",
          "format": "double",
          "description": "The tax amount of the invoice"
        },
        "total_amount": {
          "type": "number",
          "format": "double",
          "description": "The total amount of the invoice"
        },
        "payments_allocations_total_amount": {
          "type": "number",
          "format": "double",
          "description": "The total amount of all payments and allocations"
        },
        "payments_allocations_total_discount": {
          "type": "number",
          "format": "double",
          "description": "The total discount of all payments and allocations"
        },
        "total_paid": {
          "type": "number",
          "format": "double",
          "description": "The total paid amount of the invoice including any payments, allocations and discounts"
        },
        "outstanding_amount": {
          "type": "number",
          "format": "double",
          "description": "The outstanding amount of the invoice"
        },
        "currency": {
          "$ref": "#/definitions/Base",
          "description": "The currency for the invoice"
        },
        "exchange_rate": {
          "type": "number",
          "format": "double",
          "description": "The exchange rate for the invoice"
        },
        "inverse_exchange_rate": {
          "type": "number",
          "format": "double",
          "description": "The inverse exchange rate for the invoice"
        },
        "base_currency_shipping_net_amount": {
          "type": "number",
          "format": "double",
          "description": "The net shipping amount in base currency"
        },
        "base_currency_shipping_tax_amount": {
          "type": "number",
          "format": "double",
          "description": "The tax shipping amount in base currency"
        },
        "base_currency_shipping_tax_breakdown": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaxBreakdown"
          },
          "description": "The shipping tax breakdown for the invoice in base currency"
        },
        "base_currency_shipping_total_amount": {
          "type": "number",
          "format": "double",
          "description": "The total shipping amount in base currency"
        },
        "total_discount_amount": {
          "type": "number",
          "format": "double",
          "description": "The discount amount on the invoice"
        },
        "base_currency_total_discount_amount": {
          "type": "number",
          "format": "double",
          "description": "The discount amount on the invoice in base currency"
        },
        "base_currency_net_amount": {
          "type": "number",
          "format": "double",
          "description": "The net amount of the invoice in base currency"
        },
        "base_currency_tax_amount": {
          "type": "number",
          "format": "double",
          "description": "The tax amount of the invoice in base currency"
        },
        "base_currency_total_amount": {
          "type": "number",
          "format": "double",
          "description": "The total amount of the invoice in base currency"
        },
        "base_currency_outstanding_amount": {
          "type": "number",
          "format": "double",
          "description": "The outstanding amount of the invoice in base currency"
        },
        "status": {
          "$ref": "#/definitions/Base",
          "description": "The status of the invoice"
        },
        "sent": {
          "type": "boolean",
          "description": "Indicates whether the invoice has been sent"
        },
        "sent_by_email": {
          "type": "boolean",
          "description": "Indicates whether the invoice has been emailed"
        },
        "void_reason": {
          "type": "string",
          "maxLength": 200,
          "description": "The reason the invoice was voided"
        },
        "invoice_lines": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SalesInvoiceLineItem"
          },
          "description": "The invoice lines of the invoice"
        },
        "tax_analysis": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ArtefactTaxAnalysis"
          },
          "description": "The invoice tax analysis"
        },
        "detailed_tax_analysis": {
          "$ref": "#/definitions/ArtefactDetailedTaxAnalysis"
        },
        "payments_allocations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PaymentAllocation"
          },
          "description": "The associated payments and allocations"
        },
        "last_paid": {
          "type": "string",
          "format": "date",
          "description": "The date of the last payment"
        },
        "withholding_tax_rate": {
          "type": "number",
          "format": "double",
          "description": "IRPF Witheld Tax Rate (Spain only)"
        },
        "withholding_tax_amount": {
          "type": "number",
          "format": "double",
          "description": "IRPF Witheld Tax Amount (Spain only)"
        },
        "base_currency_withholding_tax_amount": {
          "type": "number",
          "format": "double",
          "description": "IRPF Witheld Tax Amount (Spain only) in the base currency"
        },
        "corrective_reason_code": {
          "$ref": "#/definitions/Base",
          "description": "The reason for the corrective invoice"
        },
        "original_invoice": {
          "$ref": "#/definitions/Generic",
          "description": "The original invoice associated with the correction."
        },
        "original_invoice_number": {
          "type": "string",
          "description": "The number relating to the original invoice"
        },
        "original_invoice_date": {
          "type": "string",
          "description": "The Invoice date relating to the original invoice"
        },
        "details": {
          "type": "string",
          "description": "The corrective invoice details"
        },
        "tax_reconciled": {
          "type": "boolean",
          "description": "Indicates if the artefact is tax reconciled or not."
        }
      },
      "description": "### Endpoint Availability\n\n* Accounting Plus: 🇪🇸\n* Accounting Standard: 🇪🇸\n* Accounting Start: 🇪🇸\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Sales`: Full Access",
      "x-sage-menusection": "Invoices, Quotes & Credit Notes"
    },
    "Link": {
      "type": "object",
      "properties": {
        "href": {
          "type": "string",
          "description": "The link path"
        },
        "rel": {
          "type": "string",
          "description": "The relationship of the link to the resource"
        },
        "type": {
          "type": "string",
          "description": "The content-type of the link"
        }
      }
    },
    "Base": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier for the item"
        },
        "displayed_as": {
          "type": "string",
          "description": "The name of the resource"
        },
        "$path": {
          "type": "string",
          "description": "The API path for the resource"
        }
      }
    },
    "Contact": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier for the item"
        },
        "displayed_as": {
          "type": "string",
          "description": "The name of the resource"
        },
        "$path": {
          "type": "string",
          "description": "The API path for the resource"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "The datetime when the item was created"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "description": "The datetime when the item was last updated"
        },
        "links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Link"
          },
          "description": "Links for the resource"
        },
        "deleted_at": {
          "type": "string",
          "format": "date-time",
          "description": "The datetime when the item was deleted"
        },
        "balance": {
          "type": "number",
          "format": "double",
          "description": "The contact balance"
        },
        "contact_types": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Base"
          },
          "description": "The type of the contact. It has to be either CUSTOMER or VENDOR"
        },
        "name": {
          "type": "string",
          "maxLength": 100,
          "description": "The contact's full name or business name"
        },
        "reference": {
          "type": "string",
          "maxLength": 10,
          "description": "Unique reference for the contact"
        },
        "default_sales_ledger_account": {
          "$ref": "#/definitions/LedgerAccount",
          "description": "The default sales ledger account for the contact <br><i>Customers only</i>"
        },
        "default_sales_tax_rate": {
          "$ref": "#/definitions/Base",
          "description": "The default sales tax rate for the contact <br><i>Customers only</i>"
        },
        "default_purchase_ledger_account": {
          "$ref": "#/definitions/LedgerAccount",
          "description": "The default purchase ledger account for the contact <br><i>Vendors only</i>"
        },
        "tax_number": {
          "type": "string",
          "maxLength": 255,
          "description": "The VAT registration number of the contact. The format will be validated."
        },
        "notes": {
          "type": "string",
          "maxLength": 4000,
          "description": "The notes for the contact"
        },
        "locale": {
          "type": "string",
          "maxLength": 10,
          "description": "The locale for the contact"
        },
        "main_address": {
          "$ref": "#/definitions/Address",
          "description": "The main address associated with the contact"
        },
        "delivery_address": {
          "$ref": "#/definitions/Address",
          "description": "The delivery address <br><i>Customers only</i>"
        },
        "main_contact_person": {
          "$ref": "#/definitions/ContactPerson",
          "description": "The main contact person of the contact."
        },
        "bank_account_details": {
          "$ref": "#/definitions/BankAccountDetails",
          "description": "The account details for the contact's bank account"
        },
        "credit_limit": {
          "type": "string",
          "description": "Custom credit limit amount for the contact <br><i>not applicable to Start</i>"
        },
        "credit_days": {
          "type": "integer",
          "format": "int32",
          "description": "Custom credit days for the contact.<br>\nIf returned as null in a GET response, you may want to GET /invoice_settings\nand use 'customer_credit_days'/'vendor_credit_days' as default/fallback according\nto your use case.\n"
        },
        "credit_terms": {
          "type": "string",
          "enum": [
            "month_end_invoice",
            "date_from_invoice",
            "immediate_invoice",
            "month_end_payment",
            "date_from_payment",
            "immediate_payment"
          ],
          "description": "Credit terms options determine how invoice due dates are calculated.\nOptions include: end of next month, a delay of supplier credit_days and immediately.\nOnly: month_end_invoice, date_from_invoice, immediate_invoice, month_end_payment,\ndate_from_payment, immediate_payment are valid values.\nIf returned as null in a GET response, you may want to GET /invoice_settings\nand use 'customer_credit_terms'/'vendor_credit_terms' as default.\n"
        },
        "credit_terms_and_conditions": {
          "type": "string",
          "maxLength": 2000,
          "description": "Custom terms and conditions for the contact. If set will override global /invoice_settings\ndefault terms and conditions.\n<br><i>Customers only</i>\n"
        },
        "product_sales_price_type": {
          "$ref": "#/definitions/Base",
          "description": "All default product_sales_price_type defaults.\n<a\n  href=\"https://developer.sage.com/api/accounting/guides/inventory/#product-sales-prices--service-rates\"\n  target=\"_blank\">Learn more about sales price types\n</a>\n<br><i>Customers only, not applicable to Start<i>\n"
        },
        "source_guid": {
          "type": "string",
          "maxLength": 255,
          "description": "Used when importing contacts from external sources"
        },
        "currency": {
          "$ref": "#/definitions/Base",
          "description": "The currency that the contact trades in <br><i>not applicable to Start</i>"
        },
        "aux_reference": {
          "type": "string",
          "maxLength": 4,
          "description": "Auxiliary reference. Used for German \"Kreditorennummer\" and \"Debitorennummer\".\n<br>\n<a href=\"https://developer.sage.com/accounting/reference/settings/#tag/Datev-Settings\">\n  See Datev Settings endpoint reference\n</a>\n"
        },
        "registered_number": {
          "type": "string",
          "maxLength": 25,
          "description": "The registered number of the contact's business. Only used for German businesses and represents the \"Steuernummer\" there (not the \"USt-ID\")."
        },
        "deletable": {
          "type": "boolean",
          "description": "Indicates whether the contact can be deleted successfully"
        },
        "tax_treatment": {
          "$ref": "#/definitions/ContactTaxTreatment",
          "description": "The tax treatment - indicates which tax rules to apply for a contact"
        },
        "email": {
          "type": "string",
          "maxLength": 100,
          "description": "The email address for the given contact"
        },
        "tax_calculation": {
          "type": "string",
          "description": "<b>France:</b> The tax calculation method used to define tax\ntreatment <i>Vendors only</i>\n<br>\n<b>Spain:</b> Defines if contact is a retailer and tax is subject\nto Recargo de Equivalencia <i>Customers only</i>\n<b>United Kingdom:</b> Defines if contact tax treatment is domestic reverse\ncharge <i>Customers & Suppliers</i>\n"
        },
        "auxiliary_account": {
          "type": "string",
          "maxLength": 25,
          "description": "Auxiliary account - used when auxiliary accounting is enabled in business settings.\n<br><i>Available only in Spain and France</i>\n"
        },
        "gdpr_obfuscated": {
          "type": "boolean",
          "description": "General Data Protection Regulation (GDPR) came into effect on 25th May 2018. It introduces new rules for how business owners manage their contacts' personal data. When this field returns 'true', means that the contact has been requested to be obfuscated and you can not create any artifact (sales invoices, purchase invoices, ...) but you can still check previously created artifacts."
        },
        "system": {
          "type": "boolean",
          "description": "Identifies a contact as being a system contact used for processing specific transaction types and reserved specifically for those transaction types such as tax return payments/refunds."
        },
        "has_unfinished_recurring_invoices": {
          "type": "boolean",
          "description": "Indicates whether the contact is associated with any unfinished recurring invoices"
        },
        "cis_registered": {
          "type": "boolean",
          "description": "Identifies a contact as being registered as CIS.<br><i>only applicable to UK business</i>"
        },
        "ni_based": {
          "type": "boolean",
          "description": "Identifies a contact as being based in Northern Ireland."
        },
        "is_active": {
          "type": "boolean",
          "description": "Identifies a contact as being active"
        },
        "gb_based": {
          "type": "boolean",
          "description": "Identifies a contact as being based in Great Britain."
        },
        "cis_settings": {
          "$ref": "#/definitions/ContactCisSettings",
          "description": "The CIS Settings for the contact"
        },
        "destination_vat_blocking": {
          "type": "boolean",
          "description": "Identifies a contact should be blocked due to destination vat"
        }
      }
    },
    "LedgerAccount": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier for the item"
        },
        "displayed_as": {
          "type": "string",
          "description": "The name of the resource"
        },
        "$path": {
          "type": "string",
          "description": "The API path for the resource"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "The datetime when the item was created"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "description": "The datetime when the item was last updated"
        },
        "ledger_account_group": {
          "$ref": "#/definitions/CoaGroupType",
          "description": "The ledger account group for the account"
        },
        "name": {
          "type": "string",
          "maxLength": 200,
          "description": "The name for the ledger account.\n\nChanges to this field do not propagate to other resources, namely not to the name of the associated\nbank_account (unlike the behaviour of the UI).\n"
        },
        "display_name": {
          "type": "string",
          "maxLength": 200,
          "description": "The display name for the ledger account"
        },
        "visible_scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The visible scopes for the ledger account.\n\nThis indicates in which of the UI's areas the ledger account is displayed and available for user\nselection. Possible entries in this array are `bank`, `sales`, `purchasing`, `other_payment`,\n`other_receipt`, `reporting`, `journals`, `sales_eu`, `sales_row`, `purchasing_eu`, `purchasing_row`\nand `purchasing_hrc`.\n"
        },
        "included_in_chart": {
          "type": "boolean",
          "description": "Indicates whether the ledger account is included in the chart of accounts"
        },
        "nominal_code": {
          "type": "integer",
          "format": "int32",
          "description": "The nominal code of the ledger account"
        },
        "ledger_account_type": {
          "$ref": "#/definitions/Base",
          "description": "The ledger account type for the ledger account"
        },
        "ledger_account_classification": {
          "$ref": "#/definitions/Base",
          "description": "The ledger account classification for the ledger account"
        },
        "tax_rate": {
          "$ref": "#/definitions/Base",
          "description": "The default tax rate for the ledger account"
        },
        "fixed_tax_rate": {
          "type": "boolean",
          "description": "Indicates whether the default tax rate is fixed or may be changed per transaction"
        },
        "visible_in_banking": {
          "type": "boolean",
          "description": "Indicates whether the ledger account is displayed in the banking area of the application"
        },
        "visible_in_expenses": {
          "type": "boolean",
          "description": "Indicates whether the ledger account is displayed in the purchases area of the application"
        },
        "visible_in_journals": {
          "type": "boolean",
          "description": "Indicates whether the ledger account is displayed in the journals area of the application"
        },
        "visible_in_other_payments": {
          "type": "boolean",
          "description": "Indicates whether the ledger account is displayed in the other payments area of the application\n"
        },
        "visible_in_other_receipts": {
          "type": "boolean",
          "description": "Indicates whether the ledger account is displayed in the other receipts area of the application\n"
        },
        "visible_in_reporting": {
          "type": "boolean",
          "description": "Indicates whether the ledger account is displayed in the reporting area of the application"
        },
        "visible_in_sales": {
          "type": "boolean",
          "description": "Indicates whether the ledger account is displayed in the sales area of the application"
        },
        "balance_details": {
          "$ref": "#/definitions/LedgerAccountBalanceDetails",
          "description": "The ledger account balance details for the date range provided"
        },
        "is_control_account": {
          "type": "boolean",
          "description": "Indicates whether the ledger account is a control account.\n\nControl accounts cannot be removed. See also `control_name`.\n"
        },
        "control_name": {
          "type": "string",
          "maxLength": 255,
          "description": "The control name for the ledger account.\n\nThis is used internally by Accounting to identify the correct ledger account for booking taxes etc.\nYou cannot add ledger accounts with control name and you cannot modify the control name of existing\nledger accounts.\n"
        },
        "display_formatted": {
          "type": "string",
          "description": "The display name formatted based on coa_list_order in settings"
        },
        "tax_recoverable": {
          "type": "boolean",
          "description": "Indicates that transactions posted to this ledger account have part recoverable taxes (Canada only)\n"
        },
        "recoverable_percentage": {
          "type": "number",
          "format": "double",
          "description": "The partial recoverable tax rate (Canada only)"
        },
        "non_recoverable_ledger_account": {
          "$ref": "#/definitions/LedgerAccount",
          "description": "The non-recoverable ledger account (Canada Only)"
        },
        "cis_materials": {
          "type": "boolean",
          "description": "Indicates whether the ledger account is flagged for CIS Materials"
        },
        "tax_instalment": {
          "type": "boolean",
          "description": "Indicates whether the ledger account is flagged for Tax Intalment (Canada only)"
        },
        "cis_labour": {
          "type": "boolean",
          "description": "Indicates whether the ledger account is flagged for CIS Labour"
        },
        "gifi_code": {
          "type": "integer",
          "format": "int32",
          "description": "The GIFI code of the ledger account.\n\nGIFI is short for The General Index of Financial Information and it lets the CRA validate tax information electronically instead of manually.\nInformation from financial statements is categorized under the appropriate 4-digit-long GIFI code and entered on corporate income tax returns.\nGIFI is needed when filing a T2 income tax return.\n\n_Canada only_\n"
        }
      }
    },
    "CoaGroupType": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier for the item"
        },
        "displayed_as": {
          "type": "string",
          "description": "The name of the resource"
        }
      }
    },
    "LedgerAccountBalanceDetails": {
      "type": "object",
      "properties": {
        "balance": {
          "type": "number",
          "format": "double",
          "description": "The account balance"
        },
        "credit_or_debit": {
          "type": "string",
          "description": "Is the balance a debit or credit"
        },
        "credits": {
          "type": "number",
          "format": "double",
          "description": "The credit balance"
        },
        "debits": {
          "type": "number",
          "format": "double",
          "description": "The debit balance"
        },
        "from_date": {
          "type": "string",
          "description": "The from date filter"
        },
        "to_date": {
          "type": "string",
          "description": "The to date filter"
        }
      }
    },
    "Address": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier for the item"
        },
        "displayed_as": {
          "type": "string",
          "description": "The name of the resource"
        },
        "$path": {
          "type": "string",
          "description": "The API path for the resource"
        },
        "address_line_1": {
          "type": "string",
          "maxLength": 50,
          "description": "The first line of the address"
        },
        "address_line_2": {
          "type": "string",
          "maxLength": 50,
          "description": "The second line of the address"
        },
        "city": {
          "type": "string",
          "maxLength": 50,
          "description": "The address town/city"
        },
        "postal_code": {
          "type": "string",
          "maxLength": 10,
          "description": "The address postal code/zipcode"
        },
        "country": {
          "$ref": "#/definitions/Base",
          "description": "The address country"
        },
        "deleted_at": {
          "type": "string",
          "format": "date-time",
          "description": "The datetime when the item was deleted"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "The datetime when the item was created"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "description": "The datetime when the item was last updated"
        },
        "bank_account": {
          "$ref": "#/definitions/Base",
          "description": "The related bank account of the address, if the address belongs to a bank account."
        },
        "contact": {
          "$ref": "#/definitions/Base",
          "description": "The related contact of the address, if the address belongs to a contact."
        },
        "address_type": {
          "$ref": "#/definitions/Base",
          "description": "Defines the nature of the address (Shipping, Billing, Head Office etc.).<br>Start defaults to \"Sales\" for Customers and \"Purchasing\" for Vendors"
        },
        "name": {
[...]
