{
  "info": {
    "title": "Sage Accounting API - Purchase Transactions",
    "description": "Documentation of the Sage Business Cloud Accounting API.",
    "contact": {
      "name": "Sage Business Cloud Accounting API Team",
      "url": "mailto:sbc-accounting-api-developers@sage.com"
    },
    "version": "3.1"
  },
  "swagger": "2.0",
  "produces": [
    "application/json"
  ],
  "host": "api.accounting.sage.com",
  "basePath": "/v3.1",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "Purchase Credit Notes",
      "description": "This endpoint allows the reading and writing access to incoming credited notes, available in the web frontend at the \"Purchases\" menu item. <br><br> Related Guide: <a href=\"https://developer.sage.com/api/accounting/guides/invoicing\" target=\"_blank\">Key Concepts: Invoicing</a>"
    },
    {
      "name": "Purchase Invoices",
      "description": "This endpoint allows the reading and writing access to incoming invoices, available in the web frontend at the \"Purchases\" menu item. <br><br> Related Guide: <a href=\"https://developer.sage.com/api/accounting/guides/invoicing\" target=\"_blank\">Key Concepts: Invoicing</a>"
    },
    {
      "name": "Purchase Quick Entries",
      "description": "This endpoint allows the reading and writing access to quick entries as available in the web frontend at the \"Purchases\" menu item. <br><br> Related Guide: <a href=\"https://developer.sage.com/api/accounting/guides/invoicing\" target=\"_blank\">Key Concepts: Invoicing</a>"
    }
  ],
  "paths": {
    "/purchase_credit_notes": {
      "get": {
        "summary": "Returns all Purchase Credit Notes",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇫🇷, 🇮🇪, 🇬🇧, 🇺🇸\n* Accounting Standard: 🇨🇦, 🇫🇷, 🇮🇪, 🇬🇧, 🇺🇸\n* Accounting Start: 🇨🇦, 🇫🇷, 🇮🇪, 🇬🇧, 🇺🇸\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Purchases`: Full Access, Read Only, Restricted Access",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "show_payments_allocations",
            "description": "Use this to show the artefact's payments and allocations",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "description": "Use this to filter by the credit note reference or contact name.",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "contact_id",
            "description": "Use this to filter by contact id",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "status_id",
            "description": "Use this to filter by status id",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "from_date",
            "description": "Use this to filter by Purchase Credit Notes dates",
            "type": "string",
            "format": "date-time",
            "required": false
          },
          {
            "in": "query",
            "name": "to_date",
            "description": "Use this to filter by Purchase Credit Notes dates",
            "type": "string",
            "format": "date-time",
            "required": false
          },
          {
            "in": "query",
            "name": "updated_or_created_since",
            "description": "Use this to limit the response to Purchase Credit Notes changed since a given date (format: YYYY-MM-DDT(+|-)hh:mm) or date-time (format: YYYY-MM-DDThh:mm:ss(+|-)hh:mm). Inclusive of the passed timestamp.",
            "type": "string",
            "format": "date-time",
            "required": false,
            "example": "2015-10-27T16:24:52Z"
          },
          {
            "in": "query",
            "name": "deleted_since",
            "description": "Use this to limit the response to Purchase Credit Notes deleted since a given date (format: YYYY-MM-DDT(+|-)hh:mm) or date-time (format: YYYY-MM-DDThh:mm:ss(+|-)hh:mm). Not inclusive of the passed timestamp.",
            "type": "string",
            "format": "date-time",
            "required": false,
            "example": "2015-10-27T16:24:52Z"
          },
          {
            "in": "query",
            "name": "has_attachments",
            "description": "Use this to filter Purchase Credit Notes by whether they have attachments or not",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "items_per_page",
            "description": "Returns the given number of Purchase Credit Notes per request.",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 1,
            "maximum": 200,
            "required": false,
            "example": 20
          },
          {
            "in": "query",
            "name": "page",
            "description": "Go to specific page of Purchase Credit Notes",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "attributes",
            "description": "Specify the attributes that you want to expose for the Purchase Credit Notes (expose all attributes with 'all'). These are in addition to the base attributes (name, path)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Order by a given attribute (required) and direction (optional; `asc` or `desc`; defaults to `asc`).\nAvailable attributes are:\ncreated_at, updated_at, date\n\nExample: `sort=created_at` or `sort=created_at:desc`",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all Purchase Credit Notes",
            "examples": {
             "application/json":
			 {
				"$total": 13,
				"$page": 1,
				"$next": "/purchase_credit_notes?page=2&items_per_page=10",
				"$back": null,
				"$itemsPerPage": 10,
				"$items": [
					{
						"id": "9bf8a7e219574e95a91b82c1071f66ab",
						"displayed_as": "20",
						"$path": "/purchase_credit_notes/9bf8a7e219574e95a91b82c1071f66ab"
					},
					{
						"id": "29cfa26d42934357a7f6c9cacbdb13b9",
						"displayed_as": "323",
						"$path": "/purchase_credit_notes/29cfa26d42934357a7f6c9cacbdb13b9"
					},
					{
						"id": "2db235abb90d47b7a1e7cbd86562dd8d",
						"displayed_as": "553",
						"$path": "/purchase_credit_notes/2db235abb90d47b7a1e7cbd86562dd8d"
					},
					{
						"id": "09bc65a9f60a47a78b2e236e9f83ba46",
						"displayed_as": "557",
						"$path": "/purchase_credit_notes/09bc65a9f60a47a78b2e236e9f83ba46"
					},
					{
						"id": "50739c2d34dc41b789ef47467d31cfaf",
						"displayed_as": "576",
						"$path": "/purchase_credit_notes/50739c2d34dc41b789ef47467d31cfaf"
					},
					{
						"id": "98468577b35c45858259bd938e26ccb1",
						"displayed_as": "577",
						"$path": "/purchase_credit_notes/98468577b35c45858259bd938e26ccb1"
					},
					{
						"id": "5dc76fbf906a4b29a66a58485a4247c5",
						"displayed_as": "593",
						"$path": "/purchase_credit_notes/5dc76fbf906a4b29a66a58485a4247c5"
					},
					{
						"id": "1e969c56f027413e9a847ade46593c02",
						"displayed_as": "602",
						"$path": "/purchase_credit_notes/1e969c56f027413e9a847ade46593c02"
					},
					{
						"id": "f369a061c8264817adbbe2b298ddffaf",
						"displayed_as": "611",
						"$path": "/purchase_credit_notes/f369a061c8264817adbbe2b298ddffaf"
					},
					{
						"id": "a7fdb8f3bde947859a4b4a66b487317e",
						"displayed_as": "617",
						"$path": "/purchase_credit_notes/a7fdb8f3bde947859a4b4a66b487317e"
					}
				]
			}
            }
          }
        },
        "tags": [
          "Purchase Credit Notes"
        ],
        "operationId": "getPurchaseCreditNotes"
      },
      "x-sage-pathtitle": "Purchase Credit Note collection",
      "x-sage-changelog": [

      ],
      "post": {
        "summary": "Creates a Purchase Credit Note",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇫🇷, 🇮🇪, 🇬🇧, 🇺🇸\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Purchases`: Full Access, Restricted Access",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "PurchaseCreditNotes",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postPurchaseCreditNotes"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Creates a Purchase Credit Note",
            "schema": {
              "$ref": "#/definitions/PurchaseCreditNote"
            }
          }
        },
        "tags": [
          "Purchase Credit Notes"
        ],
        "operationId": "postPurchaseCreditNotes"
      }
    },
    "/purchase_credit_notes/{key}": {
      "get": {
        "summary": "Returns a Purchase Credit Note",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇫🇷, 🇮🇪, 🇬🇧, 🇺🇸\n* Accounting Standard: 🇨🇦, 🇫🇷, 🇮🇪, 🇬🇧, 🇺🇸\n* Accounting Start: 🇨🇦, 🇫🇷, 🇮🇪, 🇬🇧, 🇺🇸\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Purchases`: Full Access, Read Only, Restricted Access",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The Purchase Credit Note Key.",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "show_payments_allocations",
            "description": "Use this to show the artefact's payments and allocations",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "nested_attributes",
            "description": "Specify the attributes that you want to expose for nested entities of the Purchase Credit Note (expose all nested attributes with 'all'). These are in addition to the base attributes (name, path)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "show_analysis_types",
            "description": "Use this to show the line item analysis types",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "attributes",
            "description": "Specify the attributes that you want to expose for the Purchase Credit Note (expose all attributes with 'all'). These are in addition to the base attributes (name, path)",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Purchase Credit Note",
            "examples": {
              "application/json":
			  {
				"id": "3bfcaf03913b421cbde8bb3c33b97881",
				"displayed_as": "24/02/2023 - 277.20",
				"$path": "/purchase_credit_notes/3bfcaf03913b421cbde8bb3c33b97881",
				"created_at": "2023-02-24T08:22:12Z",
				"updated_at": "2023-02-24T08:25:53Z",
				"links": [
					{
						"href": "https://accounts-extra.sageone.com/invoicing/purchase_credit_notes/3bfcaf03913b421cbde8bb3c33b97881",
						"rel": "alternate",
						"type": "text/html"
					}
				],
				"editable": true,
				"vat_reverse_charge": false,
				"transaction": {
					"id": "cc10fd875aa64816b9bbba2a0768bf3a",
					"displayed_as": "",
					"$path": "/transactions/cc10fd875aa64816b9bbba2a0768bf3a"
				},
				"transaction_type": {
					"id": "PURCHASE_CREDIT_NOTE",
					"displayed_as": "Purchase Credit Note",
					"$path": "/transaction_types/PURCHASE_CREDIT_NOTE"
				},
				"postponed_accounting": false,
				"import": false,
				"vat_exempt_consignment": false,
				"is_cis": false,
				"cis_applicable_amount": null,
				"base_currency_cis_applicable_amount": null,
				"total_after_cis_deduction": null,
				"base_currency_total_after_cis_deduction": null,
				"has_cis_labour": false,
				"has_cis_materials": false,
				"contact": {
					"id": "975c76ff2d3b4cd6b8d0faf37004ca73",
					"displayed_as": "McNally Computer Supplies (MCN001)",
					"$path": "/contacts/975c76ff2d3b4cd6b8d0faf37004ca73"
				},
				"base_currency_total_itc_amount": null,
				"total_itc_amount": null,
				"base_currency_total_itr_amount": null,
				"total_itr_amount": null,
				"part_recoverable": null,
				"contact_name": "McNally Computer Supplies",
				"contact_reference": "MCN001",
				"date": "2023-02-24",
				"reference": "",
				"vendor_reference": "",
				"notes": "",
				"total_quantity": "1.0",
				"net_amount": "231.0",
				"tax_amount": "46.2",
				"total_amount": "277.2",
				"payments_allocations_total_amount": "10.0",
				"payments_allocations_total_discount": "0.0",
				"total_paid": "10.0",
				"outstanding_amount": "267.2",
				"currency": {
					"id": "GBP",
					"displayed_as": "Pound Sterling (GBP)",
					"$path": "/currencies/GBP"
				},
				"exchange_rate": "1.0",
				"inverse_exchange_rate": "1.0",
				"base_currency_net_amount": "231.0",
				"base_currency_tax_amount": "46.2",
				"base_currency_total_amount": "277.2",
				"base_currency_outstanding_amount": "267.2",
				"status": {
					"id": "PART_PAID",
					"displayed_as": "Part Paid",
					"$path": "/artefact_statuses/PART_PAID"
				},
				"void_reason": null,
				"credit_note_lines": [
					{
						"id": "168cd5fd435e4e2f8eec44603200ba83",
						"displayed_as": "trfuned items",
						"is_purchase_for_resale": false,
						"description": "trfuned items",
						"product": null,
						"service": null,
						"ledger_account": {
							"id": "7a5f27a2884911ed84fa0252b90cda0d",
							"displayed_as": "Cost of Sales - Goods (5000)",
							"$path": "/ledger_accounts/7a5f27a2884911ed84fa0252b90cda0d"
						},
						"trade_of_asset": false,
						"quantity": "1.0",
						"unit_price": "231.0",
						"net_amount": "231.0",
						"tax_rate": {
							"id": "GB_STANDARD",
							"displayed_as": "Standard 20.00%",
							"$path": "/tax_rates/GB_STANDARD"
						},
						"tax_amount": "46.2",
						"tax_breakdown": [
							{
								"tax_rate": {
									"id": "GB_STANDARD",
									"displayed_as": "Standard 20.00%",
									"$path": "/tax_rates/GB_STANDARD"
								},
								"percentage": "20.0",
								"amount": "46.2"
							}
						],
						"total_amount": "277.2",
						"base_currency_unit_price": "231.0",
						"unit_price_includes_tax": false,
						"base_currency_net_amount": "231.0",
						"base_currency_tax_amount": "46.2",
						"base_currency_tax_breakdown": [
							{
								"tax_rate": {
									"id": "GB_STANDARD",
									"displayed_as": "Standard 20.00%",
									"$path": "/tax_rates/GB_STANDARD"
								},
								"percentage": "20.0",
								"amount": "46.2"
							}
						],
						"base_currency_total_amount": "277.2",
						"eu_goods_services_type": null,
						"gst_amount": null,
						"pst_amount": null,
						"tax_recoverable": null
					}
				],
				"tax_analysis": [
					{
						"tax_rate": {
							"id": "GB_STANDARD",
							"displayed_as": "Standard 20.00%",
							"$path": "/tax_rates/GB_STANDARD"
						},
						"net_amount": "231.0",
						"tax_amount": "46.2",
						"total_amount": "277.2",
						"goods_amount": "0.0",
						"service_amount": "0.0"
					}
				],
				"last_paid": "05/01/2022",
				"tax_address_region": null,
				"tax_reconciled": false,
				"migrated": false,
				"tax_calculation_method": null,
				"withholding_tax_rate": null,
				"withholding_tax_amount": null,
				"base_currency_withholding_tax_amount": null
			}
            }
          }
        },
        "tags": [
          "Purchase Credit Notes"
        ],
        "operationId": "getPurchaseCreditNotesKey"
      },
      "x-sage-pathtitle": "single Purchase Credit Note resource",
      "x-sage-changelog": [

      ],
      "put": {
        "summary": "Updates a Purchase Credit Note",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇫🇷, 🇮🇪, 🇬🇧, 🇺🇸\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Purchases`: Full Access, Restricted Access",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The Purchase Credit Note Key.",
            "type": "string",
            "required": true
          },
          {
            "name": "PurchaseCreditNotes",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putPurchaseCreditNotes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates a Purchase Credit Note",
            "schema": {
              "$ref": "#/definitions/PurchaseCreditNote"
            }
          }
        },
        "tags": [
          "Purchase Credit Notes"
        ],
        "operationId": "putPurchaseCreditNotesKey"
      },
      "delete": {
        "summary": "Deletes a Purchase Credit Note",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇫🇷, 🇮🇪, 🇬🇧, 🇺🇸\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Purchases`: Full Access",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The Purchase Credit Note Key.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Deletes a Purchase Credit Note"
          }
        },
        "tags": [
          "Purchase Credit Notes"
        ],
        "operationId": "deletePurchaseCreditNotesKey"
      }
    },
    "/purchase_credit_notes/{key}/release": {
      "post": {
        "summary": "Releases a Purchase Credit Note",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇫🇷, 🇮🇪, 🇬🇧, 🇺🇸\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Purchases`: Full Access, Restricted Access",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The Purchase Credit Note Key.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Releases a Purchase Credit Note",
            "schema": {
              "$ref": "#/definitions/PurchaseCreditNote"
            }
          }
        },
        "tags": [
          "Purchase Credit Notes"
        ],
        "operationId": "postPurchaseCreditNotesKeyRelease"
      }
    },
    "/purchase_invoices": {
      "get": {
        "summary": "Returns all Purchase Invoices",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n* Accounting Start: 🇨🇦, 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Purchases`: Full Access, Read Only, Restricted Access",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "show_payments_allocations",
            "description": "Use this to show the artefact's payments and allocations",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "description": "Use this to filter by the invoice reference or contact name.",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "contact_id",
            "description": "Use this to filter by contact id",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "status_id",
            "description": "Use this to filter by status id",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "from_date",
            "description": "Use this to filter by Purchase Invoices dates",
            "type": "string",
            "format": "date-time",
            "required": false
          },
          {
            "in": "query",
            "name": "to_date",
            "description": "Use this to filter by Purchase Invoices dates",
            "type": "string",
            "format": "date-time",
            "required": false
          },
          {
            "in": "query",
            "name": "updated_or_created_since",
            "description": "Use this to limit the response to Purchase Invoices changed since a given date (format: YYYY-MM-DDT(+|-)hh:mm) or date-time (format: YYYY-MM-DDThh:mm:ss(+|-)hh:mm). Inclusive of the passed timestamp.",
            "type": "string",
            "format": "date-time",
            "required": false,
            "example": "2015-10-27T16:24:52Z"
          },
          {
            "in": "query",
            "name": "deleted_since",
            "description": "Use this to limit the response to Purchase Invoices deleted since a given date (format: YYYY-MM-DDT(+|-)hh:mm) or date-time (format: YYYY-MM-DDThh:mm:ss(+|-)hh:mm). Not inclusive of the passed timestamp.",
            "type": "string",
            "format": "date-time",
            "required": false,
            "example": "2015-10-27T16:24:52Z"
          },
          {
            "in": "query",
            "name": "has_attachments",
            "description": "Use this to filter Purchase Invoices by whether they have attachments or not",
            "type": "boolean",
            "required": false
          },
		  {
            "in": "query",
            "name": "generate_filter_url",
            "description": "Use this to generate an api_filter_url to view a collection of filtered items in the application",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "copilot_vat_back_url",
            "description": "Return url to copilot vat page",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "items_per_page",
            "description": "Returns the given number of Purchase Invoices per request.",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 1,
            "maximum": 200,
            "required": false,
            "example": 20
          },
          {
            "in": "query",
            "name": "page",
            "description": "Go to specific page of Purchase Invoices",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "attributes",
            "description": "Specify the attributes that you want to expose for the Purchase Invoices (expose all attributes with 'all'). These are in addition to the base attributes (name, path)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Order by a given attribute (required) and direction (optional; `asc` or `desc`; defaults to `asc`).\nAvailable attributes are:\ncreated_at, updated_at, date, due_date\n\nExample: `sort=created_at` or `sort=created_at:desc`",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all Purchase Invoices",
            "examples": {
            "application/json":
			{
				"$total": 109,
				"$page": 1,
				"$next": "/purchase_invoices?page=2&items_per_page=10",
				"$back": null,
				"$itemsPerPage": 10,
				"$items": [
					{
						"id": "8a27388ef8534a8bacdc21e781ea13bd",
						"displayed_as": "86",
						"$path": "/purchase_invoices/8a27388ef8534a8bacdc21e781ea13bd"
					},
					{
						"id": "2dec01ec765d4734b5924e00d02dfbb3",
						"displayed_as": "87",
						"$path": "/purchase_invoices/2dec01ec765d4734b5924e00d02dfbb3"
					},
					{
						"id": "7ec4b16bbc4a4270a28a83da852ee6fe",
						"displayed_as": "92",
						"$path": "/purchase_invoices/7ec4b16bbc4a4270a28a83da852ee6fe"
					},
					{
						"id": "ccd248455327499d8b1d3cf940f45eb7",
						"displayed_as": "11",
						"$path": "/purchase_invoices/ccd248455327499d8b1d3cf940f45eb7"
					},
					{
						"id": "d2bb2ecf3a944cf39a25e38dac6919aa",
						"displayed_as": "12",
						"$path": "/purchase_invoices/d2bb2ecf3a944cf39a25e38dac6919aa"
					},
					{
						"id": "11925c87e06f40658022e03bd05beb5a",
						"displayed_as": "13",
						"$path": "/purchase_invoices/11925c87e06f40658022e03bd05beb5a"
					},
					{
						"id": "7a5d94330874465a89ccac8e56b3e8e9",
						"displayed_as": "14",
						"$path": "/purchase_invoices/7a5d94330874465a89ccac8e56b3e8e9"
					},
					{
						"id": "dc48ac275c034c668f0643bd31fb250b",
						"displayed_as": "15",
						"$path": "/purchase_invoices/dc48ac275c034c668f0643bd31fb250b"
					},
					{
						"id": "114561ffd768491fa7f714c05863f51f",
						"displayed_as": "16",
						"$path": "/purchase_invoices/114561ffd768491fa7f714c05863f51f"
					},
					{
						"id": "4df1412545164c25a787c7cd5cad17e0",
						"displayed_as": "17",
						"$path": "/purchase_invoices/4df1412545164c25a787c7cd5cad17e0"
					}
				]
			}
            }
          }
        },
        "tags": [
          "Purchase Invoices"
        ],
        "operationId": "getPurchaseInvoices"
      },
      "x-sage-pathtitle": "Purchase Invoice collection",
      "x-sage-changelog": [

      ],
      "post": {
        "summary": "Creates a Purchase Invoice",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Purchases`: Full Access, Restricted Access",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "PurchaseInvoices",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postPurchaseInvoices"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Creates a Purchase Invoice",
            "schema": {
              "$ref": "#/definitions/PurchaseInvoice"
            }
          }
        },
        "tags": [
          "Purchase Invoices"
        ],
        "operationId": "postPurchaseInvoices"
      }
    },
    "/purchase_invoices/{key}": {
      "get": {
        "summary": "Returns a Purchase Invoice",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n* Accounting Start: 🇨🇦, 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Purchases`: Full Access, Read Only, Restricted Access",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The Purchase Invoice Key.",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "show_payments_allocations",
            "description": "Use this to show the artefact's payments and allocations",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "show_corrections",
            "description": "Use this to show the artefact's associated corrections",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "nested_attributes",
            "description": "Specify the attributes that you want to expose for nested entities of the Purchase Invoice (expose all nested attributes with 'all'). These are in addition to the base attributes (name, path)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "show_analysis_types",
            "description": "Use this to show the line item analysis types",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "attributes",
            "description": "Specify the attributes that you want to expose for the Purchase Invoice (expose all attributes with 'all'). These are in addition to the base attributes (name, path)",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Purchase Invoice",
            "examples": {
              "application/json":
			  {
				"id": "aefba8481956416a84a094d6c41c97df",
				"displayed_as": "RB12972968870",
				"$path": "/purchase_invoices/aefba8481956416a84a094d6c41c97df",
				"created_at": "2024-05-15T08:43:53Z",
				"updated_at": "2024-07-26T07:57:49Z",
				"links": [
					{
						"href": "https://accounts-extra.sageone.com/invoicing/purchase_invoices/aefba8481956416a84a094d6c41c97df",
						"rel": "alternate",
						"type": "text/html"
					}
				],
				"editable": true,
				"vat_reverse_charge": false,
				"transaction": {
					"id": "5876e869ca544e0eb93ad43e3975dfde",
					"displayed_as": "RB12972968870",
					"$path": "/transactions/5876e869ca544e0eb93ad43e3975dfde"
				},
				"transaction_type": {
					"id": "PURCHASE_INVOICE",
					"displayed_as": "Purchase Invoice",
					"$path": "/transaction_types/PURCHASE_INVOICE"
				},
				"postponed_accounting": false,
				"import": false,
				"vat_exempt_consignment": false,
				"is_cis": false,
				"cis_applicable_amount": null,
				"base_currency_cis_applicable_amount": null,
				"total_after_cis_deduction": null,
				"base_currency_total_after_cis_deduction": null,
				"has_cis_labour": false,
				"has_cis_materials": false,
				"contact": {
					"id": "5ad3e87117f54189ba0255a12a2c3034",
					"displayed_as": "Thompsons Electricals (THO001)",
					"$path": "/contacts/5ad3e87117f54189ba0255a12a2c3034"
				},
				"base_currency_total_itc_amount": null,
				"total_itc_amount": null,
				"base_currency_total_itr_amount": null,
				"total_itr_amount": null,
				"part_recoverable": null,
				"contact_name": "Thompsons Electricals",
				"contact_reference": "THO001",
				"date": "2024-05-15",
				"due_date": "2024-06-14",
				"reference": "RB12972968870",
				"vendor_reference": "",
				"notes": "",
				"total_quantity": "24.0",
				"net_amount": "1572.87",
				"tax_amount": "26.24",
				"total_amount": "1599.11",
				"payments_allocations_total_amount": "0.0",
				"payments_allocations_total_discount": "0.0",
				"total_paid": "0.0",
				"outstanding_amount": "1599.11",
				"currency": {
					"id": "GBP",
					"displayed_as": "Pound Sterling (GBP)",
					"$path": "/currencies/GBP"
				},
				"exchange_rate": "1.0",
				"inverse_exchange_rate": "1.0",
				"base_currency_net_amount": "1572.87",
				"base_currency_tax_amount": "26.24",
				"base_currency_total_amount": "1599.11",
				"base_currency_outstanding_amount": "1599.11",
				"status": {
					"id": "UNPAID",
					"displayed_as": "Unpaid",
					"$path": "/artefact_statuses/UNPAID"
				},
				"void_reason": null,
				"invoice_lines": [
					{
						"id": "97b26ddfbb92487aa8bf059d222cbd7b",
						"displayed_as": "16mb PCI Video Card",
						"is_purchase_for_resale": false,
						"description": "16mb PCI Video Card",
						"product": {
							"id": "a3c4f6f1642a45b4b0c238824837fb29",
							"displayed_as": "16mb PCI Video Card",
							"$path": "/products/a3c4f6f1642a45b4b0c238824837fb29"
						},
						"service": null,
						"ledger_account": {
							"id": "7a5f27a2884911ed84fa0252b90cda0d",
							"displayed_as": "Cost of Sales - Goods (5000)",
							"$path": "/ledger_accounts/7a5f27a2884911ed84fa0252b90cda0d"
						},
						"trade_of_asset": false,
						"quantity": "1.0",
						"unit_price": "34.0",
						"net_amount": "34.0",
						"tax_rate": {
							"id": "GB_STANDARD",
							"displayed_as": "Standard 20.00%",
							"$path": "/tax_rates/GB_STANDARD"
						},
						"tax_amount": "6.8",
						"tax_breakdown": [
							{
								"tax_rate": {
									"id": "GB_STANDARD",
									"displayed_as": "Standard 20.00%",
									"$path": "/tax_rates/GB_STANDARD"
								},
								"percentage": "20.0",
								"amount": "6.8"
							}
						],
						"total_amount": "40.8",
						"base_currency_unit_price": "34.0",
						"unit_price_includes_tax": false,
						"base_currency_net_amount": "34.0",
						"base_currency_tax_amount": "6.8",
						"base_currency_tax_breakdown": [
							{
								"tax_rate": {
									"id": "GB_STANDARD",
									"displayed_as": "Standard 20.00%",
									"$path": "/tax_rates/GB_STANDARD"
								},
								"percentage": "20.0",
								"amount": "6.8"
							}
						],
						"base_currency_total_amount": "40.8",
						"eu_goods_services_type": null,
						"gst_amount": null,
						"pst_amount": null,
						"tax_recoverable": null
					},
					{
						"id": "b0dd1868eadc466599de0d846a327cdd",
						"displayed_as": ".",
						"is_purchase_for_resale": false,
						"description": ".",
						"product": null,
						"service": null,
						"ledger_account": {
							"id": "7a5f27a2884911ed84fa0252b90cda0d",
							"displayed_as": "Cost of Sales - Goods (5000)",
							"$path": "/ledger_accounts/7a5f27a2884911ed84fa0252b90cda0d"
						},
						"trade_of_asset": false,
						"quantity": "1.0",
						"unit_price": "43.15",
						"net_amount": "43.15",
						"tax_rate": {
							"id": "GB_NO_TAX",
							"displayed_as": "No VAT",
							"$path": "/tax_rates/GB_NO_TAX"
						},
						"tax_amount": "0.0",
						"tax_breakdown": [],
						"total_amount": "43.15",
						"base_currency_unit_price": "43.15",
						"unit_price_includes_tax": false,
						"base_currency_net_amount": "43.15",
						"base_currency_tax_amount": "0.0",
						"base_currency_tax_breakdown": [],
						"base_currency_total_amount": "43.15",
						"eu_goods_services_type": null,
						"gst_amount": null,
						"pst_amount": null,
						"tax_recoverable": null
					},
					{
						"id": "d08c97ee0abe4dfd972466ac426d5903",
						"displayed_as": ".",
						"is_purchase_for_resale": false,
						"description": ".",
						"product": null,
						"service": null,
						"ledger_account": {
							"id": "7a5f27a2884911ed84fa0252b90cda0d",
							"displayed_as": "Cost of Sales - Goods (5000)",
							"$path": "/ledger_accounts/7a5f27a2884911ed84fa0252b90cda0d"
						},
						"trade_of_asset": false,
						"quantity": "1.0",
						"unit_price": "39.6",
						"net_amount": "39.6",
						"tax_rate": {
							"id": "GB_NO_TAX",
							"displayed_as": "No VAT",
							"$path": "/tax_rates/GB_NO_TAX"
						},
						"tax_amount": "0.0",
						"tax_breakdown": [],
						"total_amount": "39.6",
						"base_currency_unit_price": "39.6",
						"unit_price_includes_tax": false,
						"base_currency_net_amount": "39.6",
						"base_currency_tax_amount": "0.0",
						"base_currency_tax_breakdown": [],
						"base_currency_total_amount": "39.6",
						"eu_goods_services_type": null,
						"gst_amount": null,
						"pst_amount": null,
						"tax_recoverable": null
					},
					{
						"id": "a43a77e283a246938be39383c62cce16",
						"displayed_as": ".",
						"is_purchase_for_resale": false,
						"description": ".",
						"product": null,
						"service": null,
						"ledger_account": {
							"id": "7a5f27a2884911ed84fa0252b90cda0d",
							"displayed_as": "Cost of Sales - Goods (5000)",
							"$path": "/ledger_accounts/7a5f27a2884911ed84fa0252b90cda0d"
						},
						"trade_of_asset": false,
						"quantity": "1.0",
						"unit_price": "8.0",
						"net_amount": "8.0",
						"tax_rate": {
							"id": "GB_ZERO",
							"displayed_as": "Zero Rated 0.00%",
							"$path": "/tax_rates/GB_ZERO"
						},
						"tax_amount": "0.0",
						"tax_breakdown": [],
						"total_amount": "8.0",
						"base_currency_unit_price": "8.0",
						"unit_price_includes_tax": false,
						"base_currency_net_amount": "8.0",
						"base_currency_tax_amount": "0.0",
						"base_currency_tax_breakdown": [],
						"base_currency_total_amount": "8.0",
						"eu_goods_services_type": null,
						"gst_amount": null,
						"pst_amount": null,
						"tax_recoverable": null
					},
					{
						"id": "936457dc17064b67a11dc9747ba76a46",
						"displayed_as": ".",
						"is_purchase_for_resale": false,
						"description": ".",
						"product": null,
						"service": null,
						"ledger_account": {
							"id": "7a5f27a2884911ed84fa0252b90cda0d",
							"displayed_as": "Cost of Sales - Goods (5000)",
							"$path": "/ledger_accounts/7a5f27a2884911ed84fa0252b90cda0d"
						},
						"trade_of_asset": false,
						"quantity": "1.0",
						"unit_price": "31.4",
						"net_amount": "31.4",
						"tax_rate": {
							"id": "GB_ZERO",
							"displayed_as": "Zero Rated 0.00%",
							"$path": "/tax_rates/GB_ZERO"
						},
						"tax_amount": "0.0",
						"tax_breakdown": [],
						"total_amount": "31.4",
						"base_currency_unit_price": "31.4",
						"unit_price_includes_tax": false,
						"base_currency_net_amount": "31.4",
						"base_currency_tax_amount": "0.0",
						"base_currency_tax_breakdown": [],
						"base_currency_total_amount": "31.4",
						"eu_goods_services_type": null,
						"gst_amount": null,
						"pst_amount": null,
						"tax_recoverable": null
					},
					{
						"id": "5c5dddd8bc2c4f54be51ba7630f3e43e",
						"displayed_as": ".",
						"is_purchase_for_resale": false,
						"description": ".",
						"product": null,
						"service": null,
						"ledger_account": {
							"id": "7a5f27a2884911ed84fa0252b90cda0d",
							"displayed_as": "Cost of Sales - Goods (5000)",
							"$path": "/ledger_accounts/7a5f27a2884911ed84fa0252b90cda0d"
						},
						"trade_of_asset": false,
						"quantity": "1.0",
						"unit_price": "30.1",
						"net_amount": "30.1",
						"tax_rate": {
							"id": "GB_ZERO",
							"displayed_as": "Zero Rated 0.00%",
							"$path": "/tax_rates/GB_ZERO"
						},
						"tax_amount": "0.0",
						"tax_breakdown": [],
						"total_amount": "30.1",
						"base_currency_unit_price": "30.1",
						"unit_price_includes_tax": false,
						"base_currency_net_amount": "30.1",
						"base_currency_tax_amount": "0.0",
						"base_currency_tax_breakdown": [],
						"base_currency_total_amount": "30.1",
						"eu_goods_services_type": null,
						"gst_amount": null,
						"pst_amount": null,
						"tax_recoverable": null
					},
					{
						"id": "4afbf0988a024980a7163f1131c3dcf9",
						"displayed_as": ".",
						"is_purchase_for_resale": false,
						"description": ".",
						"product": null,
						"service": null,
						"ledger_account": {
							"id": "7a5f27a2884911ed84fa0252b90cda0d",
							"displayed_as": "Cost of Sales - Goods (5000)",
							"$path": "/ledger_accounts/7a5f27a2884911ed84fa0252b90cda0d"
						},
						"trade_of_asset": false,
						"quantity": "1.0",
						"unit_price": "22.1",
						"net_amount": "22.1",
						"tax_rate": {
							"id": "GB_ZERO",
							"displayed_as": "Zero Rated 0.00%",
							"$path": "/tax_rates/GB_ZERO"
						},
						"tax_amount": "0.0",
						"tax_breakdown": [],
						"total_amount": "22.1",
						"base_currency_unit_price": "22.1",
						"unit_price_includes_tax": false,
						"base_currency_net_amount": "22.1",
						"base_currency_tax_amount": "0.0",
						"base_currency_tax_breakdown": [],
						"base_currency_total_amount": "22.1",
						"eu_goods_services_type": null,
						"gst_amount": null,
						"pst_amount": null,
						"tax_recoverable": null
					},
					{
						"id": "20aba902625d4940989bfaa237b5184f",
						"displayed_as": ".",
						"is_purchase_for_resale": false,
						"description": ".",
						"product": null,
						"service": null,
						"ledger_account": {
							"id": "7a5f27a2884911ed84fa0252b90cda0d",
							"displayed_as": "Cost of Sales - Goods (5000)",
							"$path": "/ledger_accounts/7a5f27a2884911ed84fa0252b90cda0d"
						},
						"trade_of_asset": false,
						"quantity": "1.0",
						"unit_price": "8.0",
						"net_amount": "8.0",
						"tax_rate": {
							"id": "GB_ZERO",
							"displayed_as": "Zero Rated 0.00%",
							"$path": "/tax_rates/GB_ZERO"
						},
						"tax_amount": "0.0",
						"tax_breakdown": [],
						"total_amount": "8.0",
						"base_currency_unit_price": "8.0",
						"unit_price_includes_tax": false,
						"base_currency_net_amount": "8.0",
						"base_currency_tax_amount": "0.0",
						"base_currency_tax_breakdown": [],
						"base_currency_total_amount": "8.0",
						"eu_goods_services_type": null,
						"gst_amount": null,
						"pst_amount": null,
						"tax_recoverable": null
					},
					{
						"id": "564cc1733c9e4727b7dabcf2215b26d1",
						"displayed_as": ".",
						"is_purchase_for_resale": false,
						"description": ".",
						"product": null,
						"service": null,
						"ledger_account": {
							"id": "7a5f27a2884911ed84fa0252b90cda0d",
							"displayed_as": "Cost of Sales - Goods (5000)",
							"$path": "/ledger_accounts/7a5f27a2884911ed84fa0252b90cda0d"
						},
						"trade_of_asset": false,
						"quantity": "1.0",
						"unit_price": "40.0",
						"net_amount": "40.0",
						"tax_rate": {
							"id": "GB_ZERO",
							"displayed_as": "Zero Rated 0.00%",
							"$path": "/tax_rates/GB_ZERO"
						},
						"tax_amount": "0.0",
						"tax_breakdown": [],
						"total_amount": "40.0",
						"base_currency_unit_price": "40.0",
						"unit_price_includes_tax": false,
						"base_currency_net_amount": "40.0",
						"base_currency_tax_amount": "0.0",
						"base_currency_tax_breakdown": [],
						"base_currency_total_amount": "40.0",
						"eu_goods_services_type": null,
						"gst_amount": null,
						"pst_amount": null,
						"tax_recoverable": null
					},
					{
						"id": "2349eea8bb674322a784c3d8a98d3c00",
						"displayed_as": "Dinner with Bijal - Mars",
						"is_purchase_for_resale": false,
						"description": "Dinner with Bijal - Mars",
						"product": null,
						"service": null,
						"ledger_account": {
							"id": "7a5f27a2884911ed84fa0252b90cda0d",
							"displayed_as": "Cost of Sales - Goods (5000)",
							"$path": "/ledger_accounts/7a5f27a2884911ed84fa0252b90cda0d"
						},
						"trade_of_asset": false,
						"quantity": "1.0",
						"unit_price": "408.38",
						"net_amount": "408.38",
						"tax_rate": {
							"id": "GB_ZERO",
							"displayed_as": "Zero Rated 0.00%",
							"$path": "/tax_rates/GB_ZERO"
						},
						"tax_amount": "0.0",
						"tax_breakdown": [],
						"total_amount": "408.38",
						"base_currency_unit_price": "408.38",
						"unit_price_includes_tax": false,
						"base_currency_net_amount": "408.38",
						"base_currency_tax_amount": "0.0",
						"base_currency_tax_breakdown": [],
						"base_currency_total_amount": "408.38",
						"eu_goods_services_type": null,
						"gst_amount": null,
						"pst_amount": null,
						"tax_recoverable": null
					},
					{
						"id": "8bf6631d46084aafb880a74e4353507a",
						"displayed_as": ".",
						"is_purchase_for_resale": false,
						"description": ".",
						"product": null,
						"service": null,
						"ledger_account": {
							"id": "7a5f27a2884911ed84fa0252b90cda0d",
							"displayed_as": "Cost of Sales - Goods (5000)",
							"$path": "/ledger_accounts/7a5f27a2884911ed84fa0252b90cda0d"
						},
						"trade_of_asset": false,
						"quantity": "1.0",
						"unit_price": "31.4",
						"net_amount": "31.4",
						"tax_rate": {
							"id": "GB_ZERO",
							"displayed_as": "Zero Rated 0.00%",
							"$path": "/tax_rates/GB_ZERO"
						},
						"tax_amount": "0.0",
						"tax_breakdown": [],
						"total_amount": "31.4",
						"base_currency_unit_price": "31.4",
						"unit_price_includes_tax": false,
						"base_currency_net_amount": "31.4",
						"base_currency_tax_amount": "0.0",
						"base_currency_tax_breakdown": [],
						"base_currency_total_amount": "31.4",
						"eu_goods_services_type": null,
						"gst_amount": null,
						"pst_amount": null,
						"tax_recoverable": null
					},
					{
						"id": "bb1c9fc63e0448f58cfa8c2955ecf0e9",
						"displayed_as": "Training ",
						"is_purchase_for_resale": false,
						"description": "Training ",
						"product": null,
						"service": null,
						"ledger_account": {
							"id": "7a5f27a2884911ed84fa0252b90cda0d",
							"displayed_as": "Cost of Sales - Goods (5000)",
							"$path": "/ledger_accounts/7a5f27a2884911ed84fa0252b90cda0d"
						},
						"trade_of_asset": false,
						"quantity": "1.0",
						"unit_price": "312.55",
						"net_amount": "312.55",
						"tax_rate": {
							"id": "GB_NO_TAX",
							"displayed_as": "No VAT",
							"$path": "/tax_rates/GB_NO_TAX"
						},
						"tax_amount": "0.0",
						"tax_breakdown": [],
						"total_amount": "312.55",
						"base_currency_unit_price": "312.55",
						"unit_price_includes_tax": false,
						"base_currency_net_amount": "312.55",
						"base_currency_tax_amount": "0.0",
						"base_currency_tax_breakdown": [],
						"base_currency_total_amount": "312.55",
						"eu_goods_services_type": null,
						"gst_amount": null,
						"pst_amount": null,
						"tax_recoverable": null
					},
					{
						"id": "a2b4c2114a714da2a1a600aa59f17f2d",
						"displayed_as": ".",
						"is_purchase_for_resale": false,
						"description": ".",
						"product": null,
						"service": null,
						"ledger_account": {
							"id": "7a5f27a2884911ed84fa0252b90cda0d",
							"displayed_as": "Cost of Sales - Goods (5000)",
							"$path": "/ledger_accounts/7a5f27a2884911ed84fa0252b90cda0d"
						},
						"trade_of_asset": false,
						"quantity": "1.0",
						"unit_price": "168.75",
						"net_amount": "168.75",
						"tax_rate": {
							"id": "GB_ZERO",
							"displayed_as": "Zero Rated 0.00%",
							"$path": "/tax_rates/GB_ZERO"
						},
						"tax_amount": "0.0",
						"tax_breakdown": [],
						"total_amount": "168.75",
						"base_currency_unit_price": "168.75",
						"unit_price_includes_tax": false,
						"base_currency_net_amount": "168.75",
						"base_currency_tax_amount": "0.0",
						"base_currency_tax_breakdown": [],
						"base_currency_total_amount": "168.75",
						"eu_goods_services_type": null,
						"gst_amount": null,
						"pst_amount": null,
						"tax_recoverable": null
					},
					{
						"id": "a722c1e23f484fbcb1adf1dbff507226",
						"displayed_as": ".",
						"is_purchase_for_resale": false,
						"description": ".",
						"product": null,
						"service": null,
						"ledger_account": {
							"id": "7a5f27a2884911ed84fa0252b90cda0d",
							"displayed_as": "Cost of Sales - Goods (5000)",
							"$path": "/ledger_accounts/7a5f27a2884911ed84fa0252b90cda0d"
						},
						"trade_of_asset": false,
						"quantity": "1.0",
						"unit_price": "26.4",
						"net_amount": "26.4",
						"tax_rate": {
							"id": "GB_ZERO",
							"displayed_as": "Zero Rated 0.00%",
							"$path": "/tax_rates/GB_ZERO"
						},
						"tax_amount": "0.0",
						"tax_breakdown": [],
						"total_amount": "26.4",
						"base_currency_unit_price": "26.4",
						"unit_price_includes_tax": false,
						"base_currency_net_amount": "26.4",
						"base_currency_tax_amount": "0.0",
						"base_currency_tax_breakdown": [],
						"base_currency_total_amount": "26.4",
						"eu_goods_services_type": null,
						"gst_amount": null,
						"pst_amount": null,
						"tax_recoverable": null
					},
					{
						"id": "66c3dc61dd3f49af998e52e63d9aa13a",
						"displayed_as": ".",
						"is_purchase_for_resale": false,
						"description": ".",
						"product": null,
						"service": null,
						"ledger_account": {
							"id": "7a5f27a2884911ed84fa0252b90cda0d",
							"displayed_as": "Cost of Sales - Goods (5000)",
							"$path": "/ledger_accounts/7a5f27a2884911ed84fa0252b90cda0d"
						},
						"trade_of_asset": false,
						"quantity": "1.0",
						"unit_price": "33.4",
						"net_amount": "33.4",
						"tax_rate": {
							"id": "GB_ZERO",
							"displayed_as": "Zero Rated 0.00%",
							"$path": "/tax_rates/GB_ZERO"
						},
						"tax_amount": "0.0",
						"tax_breakdown": [],
						"total_amount": "33.4",
						"base_currency_unit_price": "33.4",
						"unit_price_includes_tax": false,
						"base_currency_net_amount": "33.4",
						"base_currency_tax_amount": "0.0",
						"base_currency_tax_breakdown": [],
						"base_currency_total_amount": "33.4",
						"eu_goods_services_type": null,
						"gst_amount": null,
						"pst_amount": null,
						"tax_recoverable": null
					},
					{
						"id": "6b98c7c76ecc465a843f995d2d374e79",
						"displayed_as": ".",
						"is_purchase_for_resale": false,
						"description": ".",
						"product": null,
						"service": null,
						"ledger_account": {
							"id": "7a5f27a2884911ed84fa0252b90cda0d",
							"displayed_as": "Cost of Sales - Goods (5000)",
							"$path": "/ledger_accounts/7a5f27a2884911ed84fa0252b90cda0d"
						},
						"trade_of_asset": false,
						"quantity": "1.0",
						"unit_price": "36.4",
						"net_amount": "36.4",
						"tax_rate": {
							"id": "GB_ZERO",
							"displayed_as": "Zero Rated 0.00%",
							"$path": "/tax_rates/GB_ZERO"
						},
						"tax_amount": "0.0",
						"tax_breakdown": [],
						"total_amount": "36.4",
						"base_currency_unit_price": "36.4",
						"unit_price_includes_tax": false,
						"base_currency_net_amount": "36.4",
						"base_currency_tax_amount": "0.0",
						"base_currency_tax_breakdown": [],
						"base_currency_total_amount": "36.4",
						"eu_goods_services_type": null,
						"gst_amount": null,
						"pst_amount": null,
						"tax_recoverable": null
					},
					{
						"id": "2e40691816fa43358117f4f63d60e685",
						"displayed_as": ".",
						"is_purchase_for_resale": false,
						"description": ".",
						"product": null,
						"service": null,
						"ledger_account": {
							"id": "7a5f27a2884911ed84fa0252b90cda0d",
							"displayed_as": "Cost of Sales - Goods (5000)",
							"$path": "/ledger_accounts/7a5f27a2884911ed84fa0252b90cda0d"
						},
						"trade_of_asset": false,
						"quantity": "1.0",
						"unit_price": "100.9",
						"net_amount": "100.9",
						"tax_rate": {
							"id": "GB_ZERO",
							"displayed_as": "Zero Rated 0.00%",
							"$path": "/tax_rates/GB_ZERO"
						},
						"tax_amount": "0.0",
						"tax_breakdown": [],
						"total_amount": "100.9",
						"base_currency_unit_price": "100.9",
						"unit_price_includes_tax": false,
						"base_currency_net_amount": "100.9",
						"base_currency_tax_amount": "0.0",
						"base_currency_tax_breakdown": [],
						"base_currency_total_amount": "100.9",
						"eu_goods_services_type": null,
						"gst_amount": null,
						"pst_amount": null,
						"tax_recoverable": null
					},
					{
						"id": "629a339653484122b4594e33ffa3cf08",
						"displayed_as": ".",
						"is_purchase_for_resale": false,
						"description": ".",
						"product": null,
						"service": null,
						"ledger_account": {
							"id": "7a5f27a2884911ed84fa0252b90cda0d",
							"displayed_as": "Cost of Sales - Goods (5000)",
							"$path": "/ledger_accounts/7a5f27a2884911ed84fa0252b90cda0d"
						},
						"trade_of_asset": false,
						"quantity": "1.0",
						"unit_price": "79.95",
						"net_amount": "79.95",
						"tax_rate": {
							"id": "GB_STANDARD",
							"displayed_as": "Standard 20.00%",
							"$path": "/tax_rates/GB_STANDARD"
						},
						"tax_amount": "15.99",
						"tax_breakdown": [
							{
								"tax_rate": {
									"id": "GB_STANDARD",
									"displayed_as": "Standard 20.00%",
									"$path": "/tax_rates/GB_STANDARD"
								},
								"percentage": "20.0",
								"amount": "15.99"
							}
						],
						"total_amount": "95.94",
						"base_currency_unit_price": "79.95",
						"unit_price_includes_tax": false,
						"base_currency_net_amount": "79.95",
						"base_currency_tax_amount": "15.99",
						"base_currency_tax_breakdown": [
							{
								"tax_rate": {
									"id": "GB_STANDARD",
									"displayed_as": "Standard 20.00%",
									"$path": "/tax_rates/GB_STANDARD"
								},
								"percentage": "20.0",
								"amount": "15.99"
							}
						],
						"base_currency_total_amount": "95.94",
						"eu_goods_services_type": null,
						"gst_amount": null,
						"pst_amount": null,
						"tax_recoverable": null
					},
					{
						"id": "7fe7138aec76483ab5e7dfbada784a10",
						"displayed_as": ".",
						"is_purchase_for_resale": false,
						"description": ".",
						"product": null,
						"service": null,
						"ledger_account": {
							"id": "7a5f27a2884911ed84fa0252b90cda0d",
							"displayed_as": "Cost of Sales - Goods (5000)",
							"$path": "/ledger_accounts/7a5f27a2884911ed84fa0252b90cda0d"
						},
						"trade_of_asset": false,
						"quantity": "1.0",
						"unit_price": "14.14",
						"net_amount": "14.14",
						"tax_rate": {
							"id": "GB_ZERO",
							"displayed_as": "Zero Rated 0.00%",
							"$path": "/tax_rates/GB_ZERO"
						},
						"tax_amount": "0.0",
						"tax_breakdown": [],
						"total_amount": "14.14",
						"base_currency_unit_price": "14.14",
						"unit_price_includes_tax": false,
						"base_currency_net_amount": "14.14",
						"base_currency_tax_amount": "0.0",
						"base_currency_tax_breakdown": [],
						"base_currency_total_amount": "14.14",
						"eu_goods_services_type": null,
						"gst_amount": null,
						"pst_amount": null,
						"tax_recoverable": null
					},
					{
						"id": "859f69f0d6874d768e35918ffc1bff8d",
						"displayed_as": ".",
						"is_purchase_for_resale": false,
						"description": ".",
						"product": null,
						"service": null,
						"ledger_account": {
							"id": "7a5f27a2884911ed84fa0252b90cda0d",
							"displayed_as": "Cost of Sales - Goods (5000)",
							"$path": "/ledger_accounts/7a5f27a2884911ed84fa0252b90cda0d"
						},
						"trade_of_asset": false,
						"quantity": "1.0",
						"unit_price": "13.6",
						"net_amount": "13.6",
						"tax_rate": {
							"id": "GB_ZERO",
							"displayed_as": "Zero Rated 0.00%",
							"$path": "/tax_rates/GB_ZERO"
						},
						"tax_amount": "0.0",
						"tax_breakdown": [],
						"total_amount": "13.6",
						"base_currency_unit_price": "13.6",
						"unit_price_includes_tax": false,
						"base_currency_net_amount": "13.6",
						"base_currency_tax_amount": "0.0",
						"base_currency_tax_breakdown": [],
						"base_currency_total_amount": "13.6",
						"eu_goods_services_type": null,
						"gst_amount": null,
						"pst_amount": null,
						"tax_recoverable": null
					},
					{
						"id": "1c8e43dd90224586995864cef8af2bc9",
						"displayed_as": ".",
						"is_purchase_for_resale": false,
						"description": ".",
						"product": null,
						"service": null,
						"ledger_account": {
							"id": "7a5f27a2884911ed84fa0252b90cda0d",
							"displayed_as": "Cost of Sales - Goods (5000)",
							"$path": "/ledger_accounts/7a5f27a2884911ed84fa0252b90cda0d"
						},
						"trade_of_asset": false,
						"quantity": "1.0",
						"unit_price": "18.9",
						"net_amount": "18.9",
						"tax_rate": {
							"id": "GB_ZERO",
							"displayed_as": "Zero Rated 0.00%",
							"$path": "/tax_rates/GB_ZERO"
						},
						"tax_amount": "0.0",
						"tax_breakdown": [],
						"total_amount": "18.9",
						"base_currency_unit_price": "18.9",
						"unit_price_includes_tax": false,
						"base_currency_net_amount": "18.9",
						"base_currency_tax_amount": "0.0",
						"base_currency_tax_breakdown": [],
						"base_currency_total_amount": "18.9",
						"eu_goods_services_type": null,
						"gst_amount": null,
						"pst_amount": null,
						"tax_recoverable": null
					},
					{
						"id": "b0022d9f7a6746a1bb44ee08b065df81",
						"displayed_as": ".",
						"is_purchase_for_resale": false,
						"description": ".",
						"product": null,
						"service": null,
						"ledger_account": {
							"id": "7a5f27a2884911ed84fa0252b90cda0d",
							"displayed_as": "Cost of Sales - Goods (5000)",
							"$path": "/ledger_accounts/7a5f27a2884911ed84fa0252b90cda0d"
						},
						"trade_of_asset": false,
						"quantity": "1.0",
						"unit_price": "17.25",
						"net_amount": "17.25",
						"tax_rate": {
							"id": "GB_STANDARD",
							"displayed_as": "Standard 20.00%",
							"$path": "/tax_rates/GB_STANDARD"
						},
						"tax_amount": "3.45",
						"tax_breakdown": [
							{
								"tax_rate": {
									"id": "GB_STANDARD",
									"displayed_as": "Standard 20.00%",
									"$path": "/tax_rates/GB_STANDARD"
								},
								"percentage": "20.0",
								"amount": "3.45"
							}
						],
						"total_amount": "20.7",
						"base_currency_unit_price": "17.25",
						"unit_price_includes_tax": false,
						"base_currency_net_amount": "17.25",
						"base_currency_tax_amount": "3.45",
						"base_currency_tax_breakdown": [
							{
								"tax_rate": {
									"id": "GB_STANDARD",
									"displayed_as": "Standard 20.00%",
									"$path": "/tax_rates/GB_STANDARD"
								},
								"percentage": "20.0",
								"amount": "3.45"
							}
						],
						"base_currency_total_amount": "20.7",
						"eu_goods_services_type": null,
						"gst_amount": null,
						"pst_amount": null,
						"tax_recoverable": null
					},
					{
						"id": "dcb9272bac024cefb841679aa174d1f2",
						"displayed_as": ".",
						"is_purchase_for_resale": false,
						"description": ".",
						"product": null,
						"service": null,
						"ledger_account": {
							"id": "7a5f27a2884911ed84fa0252b90cda0d",
							"displayed_as": "Cost of Sales - Goods (5000)",
							"$path": "/ledger_accounts/7a5f27a2884911ed84fa0252b90cda0d"
						},
						"trade_of_asset": false,
						"quantity": "1.0",
						"unit_price": "45.5",
						"net_amount": "45.5",
						"tax_rate": {
							"id": "GB_ZERO",
							"displayed_as": "Zero Rated 0.00%",
							"$path": "/tax_rates/GB_ZERO"
						},
						"tax_amount": "0.0",
						"tax_breakdown": [],
						"total_amount": "45.5",
						"base_currency_unit_price": "45.5",
						"unit_price_includes_tax": false,
						"base_currency_net_amount": "45.5",
						"base_currency_tax_amount": "0.0",
						"base_currency_tax_breakdown": [],
						"base_currency_total_amount": "45.5",
						"eu_goods_services_type": null,
						"gst_amount": null,
						"pst_amount": null,
						"tax_recoverable": null
					},
					{
						"id": "7b377469823d485c82c54655d711da87",
						"displayed_as": ".",
						"is_purchase_for_resale": false,
						"description": ".",
						"product": null,
						"service": null,
						"ledger_account": {
							"id": "7a5f27a2884911ed84fa0252b90cda0d",
							"displayed_as": "Cost of Sales - Goods (5000)",
							"$path": "/ledger_accounts/7a5f27a2884911ed84fa0252b90cda0d"
						},
						"trade_of_asset": false,
						"quantity": "1.0",
						"unit_price": "9.0",
						"net_amount": "9.0",
						"tax_rate": {
							"id": "GB_ZERO",
							"displayed_as": "Zero Rated 0.00%",
							"$path": "/tax_rates/GB_ZERO"
						},
						"tax_amount": "0.0",
						"tax_breakdown": [],
						"total_amount": "9.0",
						"base_currency_unit_price": "9.0",
						"unit_price_includes_tax": false,
						"base_currency_net_amount": "9.0",
						"base_currency_tax_amount": "0.0",
						"base_currency_tax_breakdown": [],
						"base_currency_total_amount": "9.0",
						"eu_goods_services_type": null,
						"gst_amount": null,
						"pst_amount": null,
						"tax_recoverable": null
					}
				],
				"tax_analysis": [
					{
						"tax_rate": {
							"id": "GB_STANDARD",
							"displayed_as": "Standard 20.00%",
							"$path": "/tax_rates/GB_STANDARD"
						},
						"net_amount": "131.2",
						"tax_amount": "26.24",
						"total_amount": "157.44",
						"goods_amount": "34.0",
						"service_amount": "0.0"
					},
					{
						"tax_rate": {
							"id": "GB_ZERO",
							"displayed_as": "Zero Rated 0.00%",
							"$path": "/tax_rates/GB_ZERO"
						},
						"net_amount": "1046.37",
						"tax_amount": "0.0",
						"total_amount": "1046.37",
						"goods_amount": "0.0",
						"service_amount": "0.0"
					},
					{
						"tax_rate": {
							"id": "GB_NO_TAX",
							"displayed_as": "No VAT",
							"$path": "/tax_rates/GB_NO_TAX"
						},
						"net_amount": "395.3",
						"tax_amount": "0.0",
						"total_amount": "395.3",
						"goods_amount": "0.0",
						"service_amount": "0.0"
					}
				],
				"last_paid": "",
				"tax_address_region": null,
				"withholding_tax_rate": null,
				"withholding_tax_amount": null,
				"base_currency_withholding_tax_amount": null,
				"tax_reconciled": false,
				"migrated": false,
				"tax_calculation_method": null
			}
            }
          }
        },
        "tags": [
          "Purchase Invoices"
        ],
        "operationId": "getPurchaseInvoicesKey"
      },
      "x-sage-pathtitle": "single Purchase Invoice resource",
      "x-sage-changelog": [

      ],
      "put": {
        "summary": "Updates a Purchase Invoice",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Purchases`: Full Access, Restricted Access",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The Purchase Invoice Key.",
            "type": "string",
            "required": true
          },
          {
            "name": "PurchaseInvoices",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putPurchaseInvoices"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates a Purchase Invoice",
            "schema": {
              "$ref": "#/definitions/PurchaseInvoice"
            }
          }
        },
        "tags": [
          "Purchase Invoices"
        ],
        "operationId": "putPurchaseInvoicesKey"
      },
      "delete": {
        "summary": "Deletes a Purchase Invoice",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Purchases`: Full Access",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The Purchase Invoice Key.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Deletes a Purchase Invoice"
          }
        },
        "tags": [
          "Purchase Invoices"
        ],
        "operationId": "deletePurchaseInvoicesKey"
      }
    },
    "/purchase_invoices/{key}/release": {
      "post": {
        "summary": "Releases a Purchase Invoice",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Purchases`: Full Access, Restricted Access",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The Purchase Invoice Key.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Releases a Purchase Invoice",
            "schema": {
              "$ref": "#/definitions/PurchaseInvoice"
            }
          }
        },
        "tags": [
          "Purchase Invoices"
        ],
        "operationId": "postPurchaseInvoicesKeyRelease"
      }
    },
    "/purchase_quick_entries": {
      "get": {
        "summary": "Returns all Purchase Quick Entries",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n* Accounting Start: 🇨🇦, 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Purchases`: Full Access, Read Only, Restricted Access",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "contact_id",
            "description": "Use this to filter by contact id",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "description": "Use this to filter by the quick entry reference or contact name.",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "status_id",
            "description": "Use this to filter by status id",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "from_date",
            "description": "Use this to filter by Purchase Batch Entries dates",
            "type": "string",
            "format": "date-time",
            "required": false
          },
          {
            "in": "query",
            "name": "to_date",
            "description": "Use this to filter by Purchase Batch Entries dates",
            "type": "string",
            "format": "date-time",
            "required": false
          },
          {
            "in": "query",
            "name": "updated_or_created_since",
            "description": "Use this to limit the response to Purchase Batch Entries changed since a given date (format: YYYY-MM-DDT(+|-)hh:mm) or date-time (format: YYYY-MM-DDThh:mm:ss(+|-)hh:mm). Inclusive of the passed timestamp.",
            "type": "string",
            "format": "date-time",
            "required": false,
            "example": "2015-10-27T16:24:52Z"
          },
          {
            "in": "query",
            "name": "deleted_since",
            "description": "Use this to limit the response to Purchase Batch Entries deleted since a given date (format: YYYY-MM-DDT(+|-)hh:mm) or date-time (format: YYYY-MM-DDThh:mm:ss(+|-)hh:mm). Not inclusive of the passed timestamp.",
            "type": "string",
            "format": "date-time",
            "required": false,
            "example": "2015-10-27T16:24:52Z"
          },
          {
            "in": "query",
            "name": "show_payments_allocations",
            "description": "Use this to show the artefact's payments and allocations",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "has_attachments",
            "description": "Use this to filter Purchase Batch Entries by whether they have attachments or not",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "items_per_page",
            "description": "Returns the given number of Purchase Batch Entries per request.",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 1,
            "maximum": 200,
            "required": false,
            "example": 20
          },
          {
            "in": "query",
            "name": "page",
            "description": "Go to specific page of Purchase Batch Entries",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "attributes",
            "description": "Specify the attributes that you want to expose for the Purchase Batch Entries (expose all attributes with 'all'). These are in addition to the base attributes (name, path)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Order by a given attribute (required) and direction (optional; `asc` or `desc`; defaults to `asc`).\nAvailable attributes are:\ncreated_at, updated_at, date\n\nExample: `sort=created_at` or `sort=created_at:desc`",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all Purchase Quick Entries",
            "examples": {
              "application/json":
			  {
				"$total": 18,
				"$page": 1,
				"$next": "/purchase_quick_entries?page=2&items_per_page=10",
				"$back": null,
				"$itemsPerPage": 10,
				"$items": [
					{
						"id": "d2b7ed37544e444887e49f3f74482474",
						"displayed_as": "OB-O/BAL",
						"$path": "/purchase_quick_entries/d2b7ed37544e444887e49f3f74482474"
					},
					{
						"id": "5ed6ca8f15dc4556a3d09a8687e4bb24",
						"displayed_as": "OB-O/BAL",
						"$path": "/purchase_quick_entries/5ed6ca8f15dc4556a3d09a8687e4bb24"
					},
					{
						"id": "6442c8cd4f6041b0ba0be74a58e55032",
						"displayed_as": "OB-O/BAL",
						"$path": "/purchase_quick_entries/6442c8cd4f6041b0ba0be74a58e55032"
					},
					{
						"id": "bd5cddbe044a48e5828e0a97409ee006",
						"displayed_as": "OB-O/BAL",
						"$path": "/purchase_quick_entries/bd5cddbe044a48e5828e0a97409ee006"
					},
					{
						"id": "46edee13628b4215ab120478154b9673",
						"displayed_as": "OB-O/BAL",
						"$path": "/purchase_quick_entries/46edee13628b4215ab120478154b9673"
					},
					{
						"id": "e846488332684285bb1cbb43d47c1f73",
						"displayed_as": "OB-O/BAL",
						"$path": "/purchase_quick_entries/e846488332684285bb1cbb43d47c1f73"
					},
					{
						"id": "ce1bed1009df47d2a1f6f5d7741efcb6",
						"displayed_as": "OB-O/BAL",
						"$path": "/purchase_quick_entries/ce1bed1009df47d2a1f6f5d7741efcb6"
					},
					{
						"id": "fdcf1052687d4334b71ac61ddd3edaa6",
						"displayed_as": "OB-O/BAL",
						"$path": "/purchase_quick_entries/fdcf1052687d4334b71ac61ddd3edaa6"
					},
					{
						"id": "3351928d486641a0bacab1b578bbfc55",
						"displayed_as": "OB-O/BAL",
						"$path": "/purchase_quick_entries/3351928d486641a0bacab1b578bbfc55"
					},
					{
						"id": "9bbbd82f785b4b1aa4bb64823b3c0787",
						"displayed_as": "OB-O/BAL",
						"$path": "/purchase_quick_entries/9bbbd82f785b4b1aa4bb64823b3c0787"
					}
				]
			}
            }
          }
        },
        "tags": [
          "Purchase Quick Entries"
        ],
        "operationId": "getPurchaseQuickEntries"
      },
      "x-sage-pathtitle": "Purchase Quick Entry collection",
      "x-sage-changelog": [

      ],
      "post": {
        "summary": "Creates a Purchase Quick Entry",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Purchases`: Full Access, Restricted Access",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "PurchaseQuickEntries",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postPurchaseQuickEntries"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Creates a Purchase Quick Entry",
            "schema": {
              "$ref": "#/definitions/PurchaseQuickEntry"
            }
          }
        },
        "tags": [
          "Purchase Quick Entries"
        ],
        "operationId": "postPurchaseQuickEntries"
      }
    },
    "/purchase_quick_entries/{key}": {
      "get": {
        "summary": "Returns a Purchase Quick Entry",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n* Accounting Start: 🇨🇦, 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Purchases`: Full Access, Read Only, Restricted Access",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The Purchase Quick Entry Key.",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "show_payments_allocations",
            "description": "Use this to show the artefact's payments and allocations",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "nested_attributes",
            "description": "Specify the attributes that you want to expose for nested entities of the Purchase Batch Entry (expose all nested attributes with 'all'). These are in addition to the base attributes (name, path)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "show_analysis_types",
            "description": "Use this to show the line item analysis types",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "attributes",
            "description": "Specify the attributes that you want to expose for the Purchase Batch Entry (expose all attributes with 'all'). These are in addition to the base attributes (name, path)",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Purchase Quick Entry",
            "examples": {
              "application/json":
			  {
				"id": "1cb11d7cba5f4a6f819a067bb06a8355",
				"displayed_as": "OB-O/BAL",
				"$path": "/purchase_quick_entries/1cb11d7cba5f4a6f819a067bb06a8355",
				"created_at": "2022-12-30T14:02:19Z",
				"updated_at": "2022-12-30T14:02:19Z",
				"transaction": {
					"id": "af777984d4b3488dbec3c0fc2492716e",
					"displayed_as": "O/BAL",
					"$path": "/transactions/af777984d4b3488dbec3c0fc2492716e"
				},
				"transaction_type": {
					"id": "VENDOR_OPENING_BALANCE_INVOICE",
					"displayed_as": "Supplier OB Invoice",
					"$path": "/transaction_types/VENDOR_OPENING_BALANCE_INVOICE"
				},
				"quick_entry_type": {
					"id": "INVOICE",
					"displayed_as": "Invoice",
					"$path": "/quick_entry_types/INVOICE"
				},
				"contact_name": "Thompsons Electricals",
				"contact_reference": "THO001",
				"contact": {
					"id": "5ad3e87117f54189ba0255a12a2c3034",
					"displayed_as": "Thompsons Electricals (THO001)",
					"$path": "/contacts/5ad3e87117f54189ba0255a12a2c3034"
				},
				"date": "2021-12-31",
				"due_date": "2022-01-30",
				"reference": "O/BAL",
				"ledger_account": {
					"id": "7a632154884911ed84fa0252b90cda0d",
					"displayed_as": "Opening Balances (9998)",
					"$path": "/ledger_accounts/7a632154884911ed84fa0252b90cda0d"
				},
				"details": null,
				"net_amount": "36.98",
				"tax_rate": {
					"id": "GB_NO_TAX",
					"displayed_as": "No VAT",
					"$path": "/tax_rates/GB_NO_TAX"
				},
				"tax_amount": "0.0",
				"tax_breakdown": [],
				"total_amount": "36.98",
				"outstanding_amount": "36.98",
				"currency": {
					"id": "GBP",
					"displayed_as": "Pound Sterling (GBP)",
					"$path": "/currencies/GBP"
				},
				"exchange_rate": "1.0",
				"inverse_exchange_rate": "1.0",
				"base_currency_net_amount": "36.98",
				"base_currency_tax_amount": "0.0",
				"base_currency_tax_breakdown": [],
				"base_currency_total_amount": "36.98",
				"base_currency_outstanding_amount": "36.98",
				"status": {
					"id": "UNPAID",
					"displayed_as": "Unpaid",
					"$path": "/artefact_statuses/UNPAID"
				},
				"tax_address_region": null,
				"migrated": false,
				"trade_of_asset": false,
				"gst_amount": null,
				"pst_amount": null,
				"tax_recoverable": null
			}
            }
          }
        },
        "tags": [
          "Purchase Quick Entries"
        ],
        "operationId": "getPurchaseQuickEntriesKey"
      },
      "x-sage-pathtitle": "single Purchase Quick Entry resource",
      "x-sage-changelog": [

      ],
      "put": {
        "summary": "Updates a Purchase Quick Entry",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Purchases`: Full Access, Restricted Access",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The Purchase Quick Entry Key.",
            "type": "string",
            "required": true
          },
          {
            "name": "PurchaseQuickEntries",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putPurchaseQuickEntries"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates a Purchase Quick Entry",
            "schema": {
              "$ref": "#/definitions/PurchaseQuickEntry"
            }
          }
        },
        "tags": [
          "Purchase Quick Entries"
        ],
        "operationId": "putPurchaseQuickEntriesKey"
      },
      "delete": {
        "summary": "Deletes a Purchase Quick Entry",
        "description": "### Endpoint Availability\n\n* Accounting Plus: 🇨🇦, 🇬🇧, 🇮🇪\n* Accounting Standard: 🇬🇧, 🇮🇪\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Purchases`: Full Access",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "The Purchase Quick Entry Key.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Deletes a Purchase Quick Entry"
          }
        },
        "tags": [
          "Purchase Quick Entries"
        ],
        "operationId": "deletePurchaseQuickEntriesKey"
      }
    }
  },
  "definitions": {
    "PurchaseCorrectiveInvoice": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier for the item"
        },
        "displayed_as": {
          "type": "string",
          "description": "The name of the resource"
        },
        "$path": {
          "type": "string",
          "description": "The API path for the resource"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "The datetime when the item was created"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "description": "The datetime when the item was last updated"
        },
        "links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Link"
          },
          "description": "Links for the resource"
        },
        "editable": {
          "type": "boolean",
          "description": "Indicates whether artefact can be edited"
        },
        "vat_reverse_charge": {
          "type": "boolean",
          "description": "Indicates whether Domestic Reverser Charge is applied to the artefact. Only used for a UK business."
        },
        "transaction": {
          "$ref": "#/definitions/Transaction",
          "description": "The transaction record for the purchase corrective invoice"
        },
        "transaction_type": {
          "$ref": "#/definitions/Base",
          "description": "The transaction type of the item"
        },
        "contact": {
          "$ref": "#/definitions/Contact",
          "description": "The contact the purchase corrective invoice relates to"
        },
        "deleted_at": {
          "type": "string",
          "format": "date-time",
          "description": "The datetime when the item was deleted"
        },
        "contact_name": {
          "type": "string",
          "maxLength": 255,
          "description": "The name of the contact when the invoice was created"
        },
        "contact_reference": {
          "type": "string",
          "maxLength": 255,
          "description": "The reference of the contact when the invoice was created"
        },
        "date": {
          "type": "string",
          "format": "date",
          "description": "The date of the invoice"
        },
        "due_date": {
          "type": "string",
          "format": "date",
          "description": "The due date of the invoice"
        },
        "reference": {
          "type": "string",
          "maxLength": 25,
          "description": "The reference for the invoice"
        },
        "vendor_reference": {
          "type": "string",
          "maxLength": 31,
          "description": "The vendor reference for the invoice"
        },
        "notes": {
          "type": "string",
          "maxLength": 2000,
          "description": "Invoice notes"
        },
        "total_quantity": {
          "type": "number",
          "format": "double",
          "description": "The total quantity of the invoice"
        },
        "net_amount": {
          "type": "number",
          "format": "double",
          "description": "The net amount of the invoice"
        },
        "tax_amount": {
          "type": "number",
          "format": "double",
          "description": "The tax amount of the invoice"
        },
        "total_amount": {
          "type": "number",
          "format": "double",
          "description": "The total amount of the invoice"
        },
        "payments_allocations_total_amount": {
          "type": "number",
          "format": "double",
          "description": "The total amount of all payments and allocations"
        },
        "payments_allocations_total_discount": {
          "type": "number",
          "format": "double",
          "description": "The total discount of all payments and allocations"
        },
        "total_paid": {
          "type": "number",
          "format": "double",
          "description": "The total paid amount of the invoice including any payments, allocations and discounts"
        },
        "outstanding_amount": {
          "type": "number",
          "format": "double",
          "description": "The outstanding amount of the invoice"
        },
        "currency": {
          "$ref": "#/definitions/Base",
          "description": "The currency for the invoice"
        },
        "exchange_rate": {
          "type": "number",
          "format": "double",
          "description": "The exchange rate for the invoice"
        },
        "inverse_exchange_rate": {
          "type": "string",
          "description": "The inverse exchange rate for the credit note"
        },
        "base_currency_net_amount": {
          "type": "number",
          "format": "double",
          "description": "The net amount of the invoice in base currency"
        },
        "base_currency_tax_amount": {
          "type": "number",
          "format": "double",
          "description": "The tax amount of the invoice in base currency"
        },
        "base_currency_total_amount": {
          "type": "number",
          "format": "double",
          "description": "The total amount of the invoice in base currency"
        },
        "base_currency_outstanding_amount": {
          "type": "number",
          "format": "double",
          "description": "The outstanding amount of the invoice in base currency"
        },
        "status": {
          "$ref": "#/definitions/Base",
          "description": "The status of the invoice"
        },
        "void_reason": {
          "type": "string",
          "maxLength": 255,
          "description": "The reason the invoice was voided"
        },
        "invoice_lines": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PurchaseInvoiceLineItem"
          },
          "description": "The invoice lines of the invoice"
        },
        "tax_analysis": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ArtefactTaxAnalysis"
          },
          "description": "The invoice tax analysis (Optional for Spain, restricted for all other regions)"
        },
        "detailed_tax_analysis": {
          "$ref": "#/definitions/ArtefactDetailedTaxAnalysis"
        },
        "payments_allocations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PaymentAllocation"
          },
          "description": "The associated payments and allocations"
        },
        "last_paid": {
          "type": "string",
          "format": "date",
          "description": "The date of the last payment"
        },
        "withholding_tax_rate": {
          "type": "number",
          "format": "double",
          "description": "IRPF withheld Tax Rate (Spain only)"
        },
        "withholding_tax_amount": {
          "type": "number",
          "format": "double",
          "description": "IRPF withheld Tax Amount (Spain only)"
        },
        "base_currency_withholding_tax_amount": {
          "type": "number",
          "format": "double",
          "description": "IRPF withheld Tax Amount (Spain only) in the base currency"
        },
        "original_invoice": {
          "$ref": "#/definitions/Generic",
          "description": "The original invoice associated with the correction."
        },
        "original_invoice_number": {
          "type": "string",
          "description": "The number relating to the original invoice (Spain only)"
        },
        "original_invoice_date": {
          "type": "string",
          "description": "The Invoice date relating to the original invoice (Spain only)"
        },
        "tax_reconciled": {
          "type": "boolean",
          "description": "Indicates if the artefact is tax reconciled or not."
        },
        "import": {
          "type": "boolean",
          "description": "Indicates whether import rules are applied to the artefact. Only used for Accounting businesses, where the vendor is flagged as importer."
        }
      },
      "description": "### Endpoint Availability\n\n* Accounting Plus: 🇪🇸\n\n### Access Control Restrictions\n\nRequires the authenticated user to have any of the following roles in the area `Purchases`: Full Access, Restricted Access",
      "x-sage-menusection": "Invoices, Quotes & Credit Notes"
    },
    "Link": {
      "type": "object",
      "properties": {
        "href": {
          "type": "string",
          "description": "The link path"
        },
        "rel": {
          "type": "string",
          "description": "The relationship of the link to the resource"
        },
        "type": {
          "type": "string",
          "description": "The content-type of the link"
        }
      }
    },
    "Base": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier for the item"
        },
        "displayed_as": {
          "type": "string",
          "description": "The name of the resource"
        },
        "$path": {
          "type": "string",
          "description": "The API path for the resource"
        }
      }
    },
    "Contact": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier for the item"
        },
        "displayed_as": {
          "type": "string",
          "description": "The name of the resource"
        },
        "$path": {
          "type": "string",
          "description": "The API path for the resource"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "The datetime when the item was created"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "description": "The datetime when the item was last updated"
        },
        "links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Link"
          },
          "description": "Links for the resource"
        },
        "deleted_at": {
          "type": "string",
          "format": "date-time",
          "description": "The datetime when the item was deleted"
        },
        "balance": {
          "type": "number",
          "format": "double",
          "description": "The contact balance"
        },
        "contact_types": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Base"
          },
          "description": "The type of the contact. It has to be either CUSTOMER or VENDOR"
        },
        "name": {
          "type": "string",
          "maxLength": 100,
          "description": "The contact's full name or business name"
        },
        "reference": {
          "type": "string",
          "maxLength": 10,
          "description": "Unique reference for the contact"
        },
        "default_sales_ledger_account": {
          "$ref": "#/definitions/LedgerAccount",
          "description": "The default sales ledger account for the contact <br><i>Customers only</i>"
        },
        "default_sales_tax_rate": {
          "$ref": "#/definitions/Base",
          "description": "The default sales tax rate for the contact <br><i>Customers only</i>"
        },
        "default_purchase_ledger_account": {
          "$ref": "#/definitions/LedgerAccount",
          "description": "The default purchase ledger account for the contact <br><i>Vendors only</i>"
        },
        "tax_number": {
          "type": "string",
          "maxLength": 255,
          "description": "The VAT registration number of the contact. The format will be validated."
        },
        "notes": {
          "type": "string",
          "maxLength": 4000,
          "description": "The notes for the contact"
        },
        "locale": {
          "type": "string",
          "maxLength": 10,
          "description": "The locale for the contact"
        },
        "main_address": {
          "$ref": "#/definitions/Address",
          "description": "The main address associated with the contact"
        },
        "delivery_address": {
          "$ref": "#/definitions/Address",
          "description": "The delivery address <br><i>Customers only</i>"
        },
        "main_contact_person": {
          "$ref": "#/definitions/ContactPerson",
          "description": "The main contact person of the contact."
        },
        "bank_account_details": {
          "$ref": "#/definitions/BankAccountDetails",
          "description": "The account details for the contact's bank account"
        },
        "credit_limit": {
          "type": "number",
          "format": "double",
          "description": "Custom credit limit amount for the contact <br><i>not applicable to Start</i>"
        },
        "credit_days": {
          "type": "integer",
          "format": "int32",
          "description": "Custom credit days for the contact.<br>\nIf returned as null in a GET response, you may want to GET /invoice_settings\nand use 'customer_credit_days'/'vendor_credit_days' as default/fallback according\nto your use case.\n"
        },
        "credit_terms": {
          "type": "string",
          "enum": [
            "month_end_invoice",
            "date_from_invoice",
            "immediate_invoice",
            "month_end_payment",
            "date_from_payment",
            "immediate_payment"
          ],
          "description": "Credit terms options determine how invoice due dates are calculated.\nOptions include: end of next month, a delay of supplier credit_days and immediately.\nOnly: month_end_invoice, date_from_invoice, immediate_invoice, month_end_payment,\ndate_from_payment, immediate_payment are valid values.\nIf returned as null in a GET response, you may want to GET /invoice_settings\nand use 'customer_credit_terms'/'vendor_credit_terms' as default.\n"
        },
        "credit_terms_and_conditions": {
          "type": "string",
          "maxLength": 2000,
          "description": "Custom terms and conditions for the contact. If set will override global /invoice_settings\ndefault terms and conditions.\n<br><i>Customers only</i>\n"
        },
        "product_sales_price_type": {
          "$ref": "#/definitions/Base",
          "description": "All default product_sales_price_type defaults.\n<a\n  href=\"https://developer.sage.com/api/accounting/guides/inventory/#product-sales-prices--service-rates\"\n  target=\"_blank\">Learn more about sales price types\n</a>\n<br><i>Customers only, not applicable to Start<i>\n"
        },
        "source_guid": {
          "type": "string",
          "maxLength": 255,
          "description": "Used when importing contacts from external sources"
        },
        "currency": {
          "$ref": "#/definitions/Base",
          "description": "The currency that the contact trades in <br><i>not applicable to Start</i>"
        },
        "aux_reference": {
          "type": "string",
          "maxLength": 4,
          "description": "Auxiliary reference. Used for German \"Kreditorennummer\" and \"Debitorennummer\".\n<br>\n<a href=\"https://developer.sage.com/accounting/reference/settings/#tag/Datev-Settings\">\n  See Datev Settings endpoint reference\n</a>\n"
        },
        "registered_number": {
          "type": "string",
          "maxLength": 25,
          "description": "The registered number of the contact's business. Only used for German businesses and represents the \"Steuernummer\" there (not the \"USt-ID\")."
        },
        "deletable": {
          "type": "boolean",
          "description": "Indicates whether the contact can be deleted successfully"
        },
        "tax_treatment": {
          "$ref": "#/definitions/ContactTaxTreatment",
          "description": "The tax treatment - indicates which tax rules to apply for a contact"
        },
        "email": {
          "type": "string",
          "maxLength": 100,
          "description": "The email address for the given contact"
        },
        "tax_calculation": {
          "type": "string",
          "description": "<b>France:</b> The tax calculation method used to define tax\ntreatment <i>Vendors only</i>\n<br>\n<b>Spain:</b> Defines if contact is a retailer and tax is subject\nto Recargo de Equivalencia <i>Customers only</i>\n<b>United Kingdom:</b> Defines if contact tax treatment is domestic reverse\ncharge <i>Customers & Suppliers</i>\n"
        },
        "auxiliary_account": {
          "type": "string",
          "maxLength": 25,
          "description": "Auxiliary account - used when auxiliary accounting is enabled in business settings.\n<br><i>Available only in Spain and France</i>\n"
        },
        "gdpr_obfuscated": {
          "type": "boolean",
          "description": "General Data Protection Regulation (GDPR) came into effect on 25th May 2018. It introduces new rules for how business owners manage their contacts' personal data. When this field returns 'true', means that the contact has been requested to be obfuscated and you can not create any artifact (sales invoices, purchase invoices, ...) but you can still check previously created artifacts."
        },
        "system": {
          "type": "boolean",
          "description": "Identifies a contact as being a system contact used for processing specific transaction types and reserved specifically for those transaction types such as tax return payments/refunds."
        },
        "has_unfinished_recurring_invoices": {
          "type": "boolean",
          "description": "Indicates whether the contact is associated with any unfinished recurring invoices"
        },
        "cis_registered": {
          "type": "boolean",
          "description": "Identifies a contact as being registered as CIS.<br><i>only applicable to UK business</i>"
        },
        "ni_based": {
          "type": "boolean",
          "description": "Identifies a contact as being based in Northern Ireland."
        },
        "is_active": {
          "type": "boolean",
          "description": "Identifies a contact as being active"
        },
        "gb_based": {
          "type": "boolean",
          "description": "Identifies a contact as being based in Great Britain."
        },
        "cis_settings": {
          "$ref": "#/definitions/ContactCisSettings",
          "description": "The CIS Settings for the contact"
        },
        "destination_vat_blocking": {
          "type": "boolean",
          "description": "Identifies a contact should be blocked due to destination vat"
        }
      }
    },
    "LedgerAccount": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier for the item"
        },
        "displayed_as": {
          "type": "string",
          "description": "The name of the resource"
        },
        "$path": {
          "type": "string",
          "description": "The API path for the resource"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "The datetime when the item was created"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "description": "The datetime when the item was last updated"
        },
        "ledger_account_group": {
[...]
